
body{
	margin: 0;
	padding: 0;
	background-color:#fff;
	color:#666;
	font-size: 100%}
h1   {
	font-size: 150%}
h2   {
	font-size: 120%}
h3   {
	font-size: 100%}
h4   {
	font-size: 90%}
form {
	margin:0;
	padding:0;
}

.textl {
	font-size: 110%;
	line-height: 1.6em}
.text {
	font-size: 100%;
	line-height: 1.6em}
.texts {
	font-size: 90%;
	line-height: 1.2em}
.textss {
	font-size:80%;
	line-height: 1.3em;}

.toptexts {
	font-size: 90%;
	line-height: 1.3em}

.toptextss {
	font-size: 80%;
	line-height: 1.3em}

.red {
	font-size: 100%;
	color: #900;
	line-height: 1.6em}
.reds {
	font-size: 90%;
	color: #900;
	line-height: 1.2em}
.redss {
	font-size:80%;
	color: #900;
	line-height: 1.3em;}

.white {
	font-size: 100%;
	color: #fff;
	line-height: 1.6em}
.whites {
	font-size: 90%;
	color: #fff;
	line-height: 1.2em}
.whitess {
	font-size:80%;
	color: #fff;
	line-height: 1.3em;}


a:link {
	color: #666;}
a:visited {
	color: #666;}
a:hover {
	color: #900;}
a:active {
	color: #900;}

a:link.snavi {
	font-size:100%;
	color: #666;
	text-decoration: none;
	line-height: 1.6em;}
a:visited.snavi {
	font-size:100%;
	color: #666;
	text-decoration: none;
	line-height: 1.6em;}
a:hover.snavi {
	font-size:100%;
	color: #900;
	text-decoration: underline;
	line-height: 1.6em;}
a:active.snavi {
	font-size:100%;
	color: #900;
	text-decoration: underline;
	line-height: 1.6em;}

a:link.snavi2 {
	font-size:90%;
	color: #666;
	text-decoration: none;
	line-height: 1.4em;}
a:visited.snavi2 {
	font-size:90%;
	color: #666;
	text-decoration: none;
	line-height: 1.4em;}
a:hover.snavi2 {
	font-size:90%;
	color: #900;
	text-decoration: underline;
	line-height: 1.4em;}
a:active.snavi2 {
	font-size:90%;
	color: #900;
	text-decoration: underline;
	line-height: 1.4em;}

a:link.snavi3 {
	font-size:80%;
	color: #666;
	text-decoration: none;
	line-height: 2.0em;}
a:visited.snavi3 {
	font-size:80%;
	color: #666;
	text-decoration: none;
	line-height: 2.0em;}
a:hover.snavi3 {
	font-size:80%;
	color: #900;
	text-decoration: underline;
	line-height: 2.0em;}
a:active.snavi3 {
	font-size:80%;
	color: #900;
	text-decoration: underline;
	line-height: 2.0em;}

.fnavitxt {
	font-size:90%;
	color: #fff;}
a:link.fnavi {
	color: #fff;
	text-decoration: none;}
a:visited.fnavi {
	color: #fff;
	text-decoration: none;}
a:hover.fnavi {
	color: #fff;
	text-decoration: underline;}
a:active.fnavi {
	color: #fff;
	text-decoration: underline;}

.fnavitxt2 {
	font-size:90%;}
a:link.fnavi2 {
	color: #666;
	text-decoration: none;}
a:visited.fnavi2 {
	color: #666;
	text-decoration: none;}
a:hover.fnavi2 {
	color: #900;
	text-decoration: underline;}
a:active.fnavi2 {
	color: #900;
	text-decoration: underline;}
