
/*

*/

#visual {
	background-image: url(../images/company/visual.jpg);
}

/*

*/

body.company-philosophy dl dt {
	border: none;
	display: block;
	margin: 0;
	padding: 0;
	line-height: 1;
	font-weight: normal;
	padding-bottom: 20px;
	padding-left: 35px;
	border-left: 1px solid #000;
	padding-top: 3px;
	font-size: 27px;
	font-weight: bold;
	margin-top: 60px;
}

@media screen and (max-width: 900px) {
	body.company-philosophy dl dt {
		margin-left: 0;
		padding-left: 18px;
		font-size: 17px;
		padding-bottom: 10px;
		padding-left: 18px;
		margin-top: 30px;
	}
}

body.company-philosophy dl dd {
	padding-left: 35px;
	border-left: 1px solid #000;
	font-size: 17px;
	line-height: 1.8;
	font-weight: normal;
	margin-bottom: 0;
	padding-bottom: 24px;
}

@media screen and (max-width: 900px) {
	body.company-philosophy dl dd {
		margin-left: 0;
		padding-left: 18px;
		font-size: 12px;
		padding-bottom: 10px;
		padding-left: 18px;
	}
}

body.company-philosophy dl dd p:last-child {
	margin-bottom: 0;
}


/*

*/

body.company-profile dl dl {
	margin-top: -15px;
	margin-bottom: 25px;
}

body.company-profile dl dt {
	border: none;
	display: block;
	margin: 0;
	padding: 0;
	line-height: 1;
	font-weight: normal;
	float: left;
	font-weight: bold;
	padding: 25px 0;
	font-size: 15px;
	line-height: 1.7;
}

@media screen and (max-width: 900px) {
	body.company-profile dl dt {
		font-size: 12px;
		padding: 12px 0;
	}
}

body.company-profile dl dd {
	padding: 25px 0;
	padding-left: 150px;
	border-bottom: 1px solid #000;
	font-size: 15px;
	line-height: 1.7;
}

@media screen and (max-width: 900px) {
	body.company-profile dl dd {
		font-size: 12px;
		padding: 12px 0;
		padding-left: 100px;
	}
}

body.company-profile dl dd p:last-child {
	margin-bottom: 0;
}

/*

*/

body.company-development #development > dl > dt {
	border: none;
	display: block;
	margin: 0;
	padding: 0;
	line-height: 1;
	font-weight: normal;
	float: left;
	font-family: 'Prata', serif;
	font-size: 34px;
}

@media screen and (max-width: 900px) {
	body.company-development #development > dl > dt {
		font-size: 18px;
	}
}

body.company-development #development > dl > dd {
	margin-left: 90px;
	padding-top: 8px;
	padding-bottom: 32px;
}

@media screen and (max-width: 900px) {
	body.company-development #development > dl > dd {
		margin-left: 50px;
		padding-top: 0;
		padding-bottom: 16px;
	}
}

body.company-development #development > dl > dd > dl {
	margin-bottom: -25px;
}

@media screen and (max-width: 900px) {
	body.company-development #development > dl > dd > dl {
		margin-bottom: -12px;
	}
}

body.company-development #development > dl > dd > dl > dt {
	border: none;
	display: block;
	margin: 0;
	padding: 0;
	line-height: 1;
	font-weight: normal;
	float: left;
	text-align: right;
	width: 75px;
	padding-right: 20px;
	font-size: 16px;
	line-height: 24px;
}

@media screen and (max-width: 900px) {
	body.company-development #development > dl > dd > dl > dt {
		font-size: 13px;
		width: 40px;
		padding-right: 10px;
		line-height: 20px;
	}
}

body.company-development #development > dl > dd > dl > dd {
	margin-left: 75px;
	font-size: 15px;
	line-height: 24px;
	padding-top: 0px;
	padding-bottom: 25px;
}

@media screen and (max-width: 900px) {
	body.company-development #development > dl > dd > dl > dd {
		font-size: 12px;
		line-height: 20px;
		margin-left: 40px;
		padding-bottom: 12px;
	}
}


/*

*/

body.company-history #history .continue {
	margin-top: 50px;	
}

@media screen and (max-width: 900px) {
	body.company-history #history .continue {
		margin-top: 40px;	
	}
}

/*

*/

body.company-equipment dl dt {
	border: none;
	display: block;
	margin: 0;
	padding: 0;
	line-height: 1;
	font-weight: normal;
}

body.company-equipment dl dl {
	margin-top: -15px;
	margin-bottom: 25px;
}

body.company-equipment dl dt {
	border: none;
	display: block;
	margin: 0;
	padding: 0;
	line-height: 1;
	font-weight: normal;
	font-weight: bold;
	padding: 12px 0;
	font-size: 18px;
	line-height: 1.7;
	border-bottom: 1px solid #000;
}

@media screen and (max-width: 900px) {
	body.company-equipment dl dt {
		font-size: 12px;
		padding: 12px 0;
	}
}

body.company-equipment dl dd {
	padding: 12px 0;
	font-size: 15px;
	line-height: 1.7;
	text-align: right;
}

@media screen and (max-width: 900px) {
	body.company-equipment dl dd {
		font-size: 12px;
		padding: 12px 0;
		text-align: left;
	}
}

body.company-equipment dl dd p:last-child {
	margin-bottom: 0;
}


/*

*/

body.company-access dl {
	margin-bottom: 60px;
}

body.company-access dl dt {
	border: none;
	display: block;
	margin: 0;
	padding: 0;
	line-height: 1;
	line-height: 1.7;
	font-weight: normal;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

@media screen and (max-width: 900px) {
	body.company-access dl dt {
		font-size: 16px;
	}
}

body.company-access dl dd {
	position: relative;
	margin-bottom: 40px;
	min-height: 80px;
}

body.company-access dl dd figure {
	float: right;
	margin-top: -40px;
}



/*

*/


body.company-csr #fives-02 dl {
	margin-top: 40px;
	margin-bottom: 45px;
}

@media screen and (max-width: 600px) {
	body.company-csr #fives-02 dl {
		margin-top: 20px;
		margin-bottom: 25px;
	}
}

body.company-csr #fives-02 dt {
	float: left;
	line-height: 25px;
	padding-left: 35px;
	position: relative;
	margin-right: 10px;
	font-size: 18px;
	font-weight: bold;
}

@media screen and (max-width: 600px) {
	body.company-csr #fives-02 dt {
		font-size: 13px;
		float: none;
		padding-left: 25px;
		line-height: 1.4;
	}
}

body.company-csr #fives-02 dt:before {
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	display: inline-block;
	background-image: url(../images/company/csr/fives_02_5s_icon.png);
	background-size: cover;
	width: 24px;
	height: 24px;
}

@media screen and (max-width: 600px) {
	body.company-csr #fives-02 dt:before {
		width: 17px;
		height: 17px;
	}
}

body.company-csr #fives-02 dd {
	line-height: 25px;
	margin-left: 10px;
	overflow: hidden;
	margin-bottom: 24px;
}

@media screen and (max-width: 600px) {
	body.company-csr #fives-02 dd {
		font-size: 12px;
		padding-left: 25px;
		margin-left: 0;
		margin-bottom: 12px;
		line-height: 1.4;
	}
}


body.company-csr #habit-02 figure table {
	width: 100%;
}

body.company-csr #habit-02 figure table thead {
	background-color: #1f2f53;
	line-height: 50px;
	color: #fff;
}

body.company-csr #habit-02 figure table tbody {
	line-height: 20px;
	color: #1e2d53;
	font-weight: bold;
}

body.company-csr #habit-02 figure table tbody tr {
	border-bottom: 3px solid #fff;
}

body.company-csr #habit-02 figure table tbody th,
body.company-csr #habit-02 figure table tbody td {
	background-color: #e2f1ff;
	vertical-align: middle;
	padding: 10px;
	text-align: center;
	background-image: url(../images/company/csr/habit_02_arrow.png);
	background-position: 0 50%;
	background-repeat: no-repeat;
	height: 54px;
}

body.company-csr #habit-02 figure table tbody th {
	height: 45px;
}


body.company-csr #habit-02 figure table tbody th:first-child,
body.company-csr #habit-02 figure table tbody td:first-child {
	background-color: #b4d7f0;
}

body.company-csr #habit-02 figure figcaption {
	text-align: right;
}

@media screen and (max-width: 900px) {
	body.company-csr #habit-02 figure figcaption {
		padding-right: 10px;
	}
}


body.company-csr #habit-03 figure {
	background-color: #b4d7f0;
	padding: 30px 0 30px 35px;
}

@media screen and (max-width: 900px) {
	body.company-csr #habit-03 figure {
		text-align: center;
		padding: 30px 30px 20px;
	}
}

@media screen and (max-width: 600px) {
	body.company-csr #habit-03 figure {
		padding: 25px 25px 10px;;
		margin: 0 -25px;
	}
}

body.company-csr #habit-03 figure figcaption {
	display: inline-block;
	margin-left: 45px;
	font-size: 16px;
	line-height: 22px;
	font-weight: bold;
	color: #1e2d53;
	padding-top: 30px;
}

@media screen and (max-width: 900px) {
	body.company-csr #habit-03 figure figcaption {
		display: block;
		margin-left: 0;
		padding-top: 10px;
		text-align: center;
	}
}

@media screen and (max-width: 600px) {
	body.company-csr #habit-03 figure figcaption {
		display: block;
		margin-left: 0;
		font-size: 12px;
		padding-top: 5px;
		text-align: center;
	}

}

@media screen and (max-width: 900px) {
	body.company-csr #habit-04 dl.voice {
		margin-bottom: -10px;
	}
}

body.company-csr #habit-04 dl.voice dt {
	background-image:  url(../images/company/csr/habit_04_voice_title.jpg);
	background-size: cover;
	background-position: 50%;
	height: 160px;
	margin-bottom: 55px;
	position: relative;
}

@media screen and (max-width: 600px) {
	body.company-csr #habit-04 dl.voice dt {
		margin: 0 -25px;
		margin-bottom: 35px;
		height: 80px;
	}
}

body.company-csr #habit-04 dl.voice dt span {
	display: block;
	width: 130px;
	line-height: 124px;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	position: absolute;
	top: 50%;
	left: 24px;
	margin-top: -62px;
	background-color: #fff;
	border-radius: 5px;
}

@media screen and (max-width: 600px) {
	body.company-csr #habit-04 dl.voice dt span {
		width: 90px;
		height: 50px;
		margin-top: -25px;
		font-size: 13px;
		line-height: 50px;
		left: 25px;
	}
}

body.company-csr #habit-04 dl.voice dd {
	margin-bottom: 40px;
	background-color: #ededed;
	padding: 30px;
	padding-top: 55px;
	color: #1d2c54;
	position: relative;
	border-radius: 5px;
}

@media screen and (max-width: 900px) {
	body.company-csr #habit-04 dl.voice dd {
		margin-bottom: 25px;
		padding: 25px;
		padding-top: 50px;
	}
}

body.company-csr #habit-04 dl.voice dd p:last-child {
	margin-bottom: 0;
}

body.company-csr #habit-04 dl.voice dt + dd:before {
	content: "";
	background-image: url(../images/company/csr/habit_04_voice_01_icon.png);
	background-size: cover;
	width: 54px;
	height: 65px;
	position: absolute;
	display: block;
	top: -26px;
	left: 28px;
}

@media screen and (max-width: 900px) {
	body.company-csr #habit-04 dl.voice dt + dd:before {
		width: 45px;
		height: 54px;
		top: -13px;
	}
}

body.company-csr #habit-04 dl.voice dt + dd + dd:before {
	content: "";
	background-image: url(../images/company/csr/habit_04_voice_02_icon.png);
	background-size: cover;
	width: 36px;
	height: 57px;
	position: absolute;
	display: block;
	top: -14px;
	left: 30px;
}

@media screen and (max-width: 900px) {
	body.company-csr #habit-04 dl.voice dt + dd + dd:before {
		width: 30px;
		height: 47.5px;
		top: -10px;
	}
}

body.company-csr #quality-01 {
	position: relative;
}

body.company-csr #quality-01 figure {
	position: absolute;
	top: 40px;
	right: 0;
	width: 110px;
}

@media screen and (max-width: 900px) {
	body.company-csr #quality-01 figure {
		position: static;	
		width: 90px;
	}
}