
body.home #header nav.global > ul > li {
	line-height: 70px;
	transition: line-height ease 0.3s;
}

body.home.is-global-fixed #header nav.global > ul > li {
	line-height: 60px;
}

body.home #header nav.global > ul > li > ul {
	top: 70px;
	transition: top ease 0.3s;
}

body.home.is-global-fixed #header nav.global > ul > li > ul {
	top: 60px;
}

/*
*/

section header:after {
	content: "";
	display: table;
	clear: both;
/*
	overflow: hidden;
*/
}

section header h2 {
	float: left;
}


@media screen and (max-width: 900px) {
	section header h2 {
		float: none;
	}
}


@media screen and (max-width: 900px) {
	section header h2 img {
		width: 100%;
	}
}

section header .copy {
	margin-left: 40px;
	font-size: 22px;
	padding-top: 17px;
	font-family: 'Prata', serif;
}

@media screen and (max-width: 900px) {
	section header .copy {
		float: none;
		font-size: 14px;
		line-height: 16px;
		margin-top: 15px;
		padding-top: 0;
		margin-left: 0;
		height: auto !important;
	}
}

section header .title {
	clear: both;
	padding-top: 40px;
	float: left;
	font-size: 18px;
	line-height: 32px;
	text-align: right;
}

@media screen and (max-width: 900px) {
	section header .title {
		float: none;
		font-size: 15px;
		padding-top: 0;
		margin-top: 15px;
		line-height: 1;
		text-align: left;
	}
}

section header .title:before {
	content: "";
	background-image: url(../images/home/titile_icon.png);
	width: 16px;
	height: 31px;
	display: inline-block;
	margin-right: 12px;
	vertical-align: bottom;
}

@media screen and (max-width: 900px) {
	section header .title:before {
		width: 8px;
		height: 15.5px;
		background-size: cover;
		margin-right: 3px;
	}
}


section header .lead {
	padding-top: 40px;
	margin-left: 40px;
	font-size: 18px;
	line-height: 32px;
}

@media screen and (max-width: 900px) {
	section header .lead {
		font-size: 12px;
		line-height: 20px;
		padding-top: 0;
		margin-top: 8px;
		margin-left: 0;
	}
}

/*

*/


#visual {
	position: relative;
}

#visual .copy {
	position: absolute;
	top: 50%;
	left: 120px;
	transform: translateY(-50%);
	width: 600px;
}

@media screen and (max-width: 900px) {
	#visual .copy {
		width: auto;
		left: 25px;
	}
}

#visual .copy p:first-child {
	margin-bottom: 50px;
}

@media screen and (max-width: 900px) {
	#visual .copy p:first-child {
		margin-bottom: 25px;
	}
}

@media screen and (max-width: 900px) {
	#visual .copy p:first-child img {
		width: 163px;
	}
}

#visual .copy p:first-child + p {
	font-size: 18px;
	line-height: 1.5;
}

@media screen and (max-width: 900px) {
	#visual .copy p:first-child + p {
		font-size: 15px;
		white-space: nowrap;
	}
}


@media screen and (max-width: 360px) {
	#visual .copy p:first-child + p {
		font-size: 11px;
	}
}

#visual ul li {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

#visual ul li:first-child + li + li {
	color: #fff;
}

#visual ul li.is-active {
	z-index: 2;
}

#visual ul li.is-show {
	z-index: 1;
}

#visual ul li figure {
	position: absolute;
	height: 100%;
	width: 0;
	overflow: hidden;
	transition: width 1s ease 0.3s;
}

#visual ul li.is-active figure {
	width: 100%;
}

#visual ul li.is-show figure {
	width: 100%;
}

/*
#visual ul li:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	transition: width 1s ease;
}

#visual ul li:first-child::before {
	background-color: #f1f2f5;
}

#visual ul li:first-child + li::before {
	background-color: #f1f2f5;
}

#visual ul li:first-child + li + li::before {
	background-color: #f1f2f5;
}
*/
#visual ul li.is-active:before {
	width: 100%;
}

#visual ul li:first-child figure .visual {
	background-image: url(../images/home/visual_01.jpg);
	background-size: cover;
	background-position: 50%;
	letter-spacing: 0.08em;
}

#visual ul li:first-child + li figure .visual {
	background-image: url(../images/home/visual_02.jpg);
	background-size: cover;
	background-position: 50%;
	letter-spacing: 0.08em;
}

#visual ul li:first-child + li + li figure .visual {
	background-image: url(../images/home/visual_03.jpg);
	background-size: cover;
	background-position: 50%;
	letter-spacing: 0.08em;
}



/*

*/

#message .site {
	padding: 120px 90px 150px 70px;
}

@media screen and (max-width: 900px) {
	#message .site {
		padding: 0;
		padding-top: 45px;
		padding-bottom: 50px;
	}
}

#message header h2,
#message header .title {
	width: 167px;
}

#message header .copy {
	height: 46px;
}

#message header .copy,
#message header .lead {
		padding-left: 167px;
}

@media screen and (max-width: 900px) {
	#message header .copy,
	#message header .lead {
			padding-left: 0;
	}
}

@media screen and (max-width: 900px) {
	#message header h2 img {
		width: 118px;
	}
}

/*

*/

#knowhow {
	padding: 5% 0;
	background-image: url(../images/home/knowhow_bg.jpg);
	background-size: cover;
	background-position: 50%;
	position: relative;
}

@media screen and (max-width: 900px) {
	#knowhow {
		padding: 25px 0;
	}
}

#knowhow:before {
	content: "";
	background-image: url(../images/home/knowhow_intro.png);
	width: 481px;
	height: 72px;
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	opacity: 0;
	transform: translate(-50%, -50%);
}

@media screen and (max-width: 900px) {
	#knowhow:before {
		display: none;
	}
}

#knowhow.is-show:before {
	animation: anime1 3s ease 0s 1 alternate;
}

@keyframes anime1 {
	0% { opacity: 0; }
	25% { opacity: 0; }
	50% { opacity: 1; }
	75% { opacity: 1; }
	100% { opacity: 0;}
}

#knowhow .site {
	margin: 0 auto;
	overflow: hidden;
	opacity: 0;
	transition: opacity 1s ease 2s;
}

#knowhow.is-show .site {
	opacity: 1;
}

@media screen and (max-width: 900px) {
	#knowhow .site {
		margin: 0 5%;
		opacity: 1 !important;
	}
}

@media screen and (max-width: 900px) {
	#knowhow .site {
		margin: 0;
	}
}

#knowhow header {
	width: 235px;
	float: left;
	background-color: #fff;
	height: 100%;
	padding: 50px 25px;
}

@media screen and (max-width: 900px) {
	#knowhow header {
		width: 145px;
		padding: 25px 15px;
	}
}

@media screen and (max-width: 900px) {
	#knowhow header h2 img {
		width: 92px;
	}
}

#knowhow header .title {
	float: none;
	margin: 0;
	text-align: left;
}

@media screen and (max-width: 900px) {
	#knowhow header .title {
		margin-top: 20px;
	}
}

#knowhow header .lead {
	float: none;
	margin: 0;
	font-size: 15px;
	line-height: 27px;
}

@media screen and (max-width: 900px) {
	#knowhow header .lead {
		font-size: 11px;
		line-height: 17px;
		margin-top: 30px;
	}
}

#knowhow ul {
	margin-left: 235px;
	overflow: hidden;
	height: 100%;
}

@media screen and (max-width: 900px) {
	#knowhow ul {
		margin-left: 145px;
	}
}

#knowhow ul li {
	width: 33.333333%;
	height: 50%;
	float: left;
	padding-left: 1px;
	margin-bottom: 1px;
}

@media screen and (max-width: 900px) {
	#knowhow ul li {
		width: 50%;
		height: 33.333333%;
	}
}


@media screen and (max-width: 360px) {
	#knowhow ul li {
		width: 100%;
		height: 16.666666%;
	}
}

#knowhow ul li a {
	display: block;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 45px 30px 60px;
	height: 100%;
	position: relative;
}

@media screen and (max-width: 900px) {
	#knowhow ul li a {
		padding: 15px 15px 45px;
	}
}

@media screen and (max-width: 360px) {
	#knowhow ul li a {
		padding: 15px;
	}
}

#knowhow ul li a p {
	font-size: 15px;
	line-height: 25.5px;
}

@media screen and (max-width: 900px) {
	#knowhow ul li a p {
	}
}

#knowhow ul li a .title {
	font-size: 24px;
	line-height: 1;
}

@media screen and (max-width: 900px) {
	#knowhow ul li a .title {
		font-size: 15px;
	}
}

#knowhow ul li a .title + p {
	font-size: 21.5px;
	font-size: 18px;
	font-family: 'Prata', serif;
	line-height: 1;
	margin-top: 15px;
	margin-bottom: 20px;
}

@media screen and (max-width: 900px) {
	#knowhow ul li a .title + p {
		font-size: 10px;
		margin-top: 8px;
		margin-bottom: 0;
	}
}

@media screen and (max-width: 900px) {
	#knowhow ul li a .title + p + p {
		display: none;
	}
}

#knowhow ul li a:after {
	content: "";
	background-image: url(../images/home/more_arrow_black.png);
	background-size: cover;
	width: 24px;
	height: 12px;
	display: block;
	position: absolute;
	bottom: 20px;
	right: 25px;	
}

@media screen and (max-width: 900px) {
	#knowhow ul li a:after {
		right: 10px;
		bottom: 10px;
		width: 18px;
		height: 9px;
	}
}

/*

*/

#service {
	padding: 120px 0 0;
}

@media screen and (max-width: 900px) {
	#service {
		padding: 45px 0 25px;
	}
}

#service header h2,
#service header .title {
		width: 241px;
}

#service header .copy,
#service header .lead {
		padding-left: 241px;
}

@media screen and (max-width: 900px) {
	#service header .copy,
	#service header .lead {
			padding-left: 0;
	}
}

@media screen and (max-width: 900px) {
	#service header h2 img {
		width: 168px;	
	}
}

#service ul li {
	overflow: hidden;
	margin-top: 60px;
}

@media screen and (max-width: 900px) {
	#service ul li {
		margin-top: 25px;
	}
}

#service ul li a {
	display: block;
}

#service ul li figure {
	position: relative;
}

#service ul li figure:before {
	width: 100%;
	content: "";
	background-color: #fff;
	position: absolute;
	top: 0;
	height: 100%;
	transition: width 0.5s ease;
	display: block;
}

@media screen and (max-width: 900px) {
	#service ul li figure:before {
		display: none;
	}
}


#service ul li:first-child figure:before {
	right: 0;
}

#service ul li:first-child + li figure:before {
	left: 0;
}

#service ul li.is-show figure:before {
	width: 0%;
}

#service ul li figure img {
	width: 100%;
}

#service ul li .container {
	position: relative;
}

@media screen and (max-width: 900px) {
	#service ul li .container {
		float: none !important;
		margin: 0 !important;
		width: auto !important;
	}
}

@media screen and (max-width: 900px) {
	#service ul li .container figure {
		margin: 0 !important;
	}
}

#service ul li:first-child .container:first-child {
	float: left;
	width: 100%;
	margin-right: -43.75%;
}

#service ul li:first-child .container:first-child figure {
	display: block;
	margin-right: 43.75%;
/*
	height: 100%;
	background-image: url(../images/home/service_01_img.jpg);
	background-size: cover;
	background-position: 50%;
*/
}

@media screen and (max-width: 900px) {
	#service ul li:first-child {
		padding-right: 25px;
	}
}

#service ul li:first-child .container:first-child + .container {
	float: right;
	width: 43.75%;
	padding: 30px 5%;
}

@media screen and (max-width: 900px) {
	#service ul li:first-child .container:first-child + .container {
		padding: 0 0 0 5%;
	}
}

#service ul li:first-child + li .container:first-child {
	float: right;
	width: 100%;
	margin-left: -43.75%;
}

#service ul li:first-child + li .container:first-child figure {
	display: block;
	margin-left: 43.75%;
/*
	height: 100%;
	background-image: url(../images/home/service_02_img.jpg);
	background-size: cover;
	background-position: 50%;
*/
}

@media screen and (max-width: 900px) {
	#service ul li:first-child + li {
		padding-left: 25px;
	}
}

#service ul li:first-child + li .container:first-child + .container {
	float: left;
	width: 43.75%;
	padding: 30px 5%;
}

@media screen and (max-width: 900px) {
	#service ul li:first-child + li .container:first-child + .container {
		padding: 0 5% 0 0;
	}
}

#service ul li p {
	font-size: 16px;
	line-height: 27px;
	margin-top: 30px;
	position: relative;
	overflow: hidden;
}

@media screen and (max-width: 900px) {
	#service ul li p {
		font-size: 12px;
		line-height: 22px;
		margin-top: 5px;
	}
}

#service ul li .title {
	font-size: 24px;
	line-height: 1;
	margin-top: 0;
}

@media screen and (max-width: 900px) {
	#service ul li .title {
		font-size: 15px;
		margin-top: 15px;
	}
}


#service ul li .title + p {
	font-size: 22px;
	line-height: 1;
	margin-top: 15px;
	font-family: 'Prata', serif;
}


@media screen and (max-width: 900px) {
	#service ul li .title + p {
		font-size: 14px;
		margin-top: 10px;
	}
}

#service ul li .title + p + p {
	padding-bottom: 45px;
}

@media screen and (max-width: 900px) {
	#service ul li .title + p + p {
		padding-bottom: 0;
		padding-right: 50px;
	}
}

#service ul li .container:first-child + .container p.title + p + p:after {
	content: "";
	background-image: url(../images/home/more_arrow_black.png);
	background-size: cover;
	width: 24px;
	height: 12px;
	display: block;
	position: absolute;
	bottom: 0px;
	right: 0;
}


@media screen and (max-width: 900px) {
	#service ul li .container:first-child + .container p.title + p + p:after {
		right: 10px;
		left: auto;
		bottom: 5px;
		width: 18px;
		height: 9px;
	}
}


/*

*/

#works {
	

}


@media screen and (max-width: 900px) {
	#works {
		padding: 45px 0 25px;
	}
}


#works header h2,
#works header .title {
	width: 129px;
}

#works header .copy {
	height: 34px;
}

#works header .copy,
#works header .lead {
		padding-left: 129px;
}

@media screen and (max-width: 900px) {
	#works header .copy,
	#works header .lead {
			padding-left: 0;
	}
}



@media screen and (max-width: 900px) {
	#works header h2 img {
		width: 91px;	
	}
}


#works ul {
	overflow: hidden;
	margin: 0 -2px -2px;
	margin-top: 50px;
}

@media screen and (max-width: 900px) {
	#works ul {
		margin-top: 20px;
	}
}

#works ul li {
	width: 33.333333%;
	float: left;
	padding: 4px 2px;
}

@media screen and (max-width: 900px) {
	#works ul li {
		width: auto;
		float: none;
		overflow: hidden;
	}
}

#works ul li a {
	display: block;
	padding-bottom: 48px;
	position: relative;
}

@media screen and (max-width: 900px) {
	#works ul li a {
		padding-bottom: 0;
		background-color: #f1f2f5;
		overflow: hidden;
	}
}

#works ul li a:after {
	content: "";
	background-image: url(../images/home/more_arrow_black.png);
	background-size: cover;
	width: 24px;
	height: 12px;
	display: block;
	position: absolute;
	bottom: 25px;
	right: 40px;
}

@media screen and (max-width: 900px) {
	#works ul li a:after {
		right: 10px;
		left: auto;
		bottom: 10px;
		width: 18px;
		height: 9px;
	}
}


@media screen and (max-width: 900px) {
	#works ul li figure {
		width: 50%;
		float: left;
	}
}

#works ul li figure img {
	width: 100%;
}



#works ul li .container {
	background-color: #f1f2f5;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 75px;
	padding: 22px 25px;
}

@media screen and (max-width: 900px) {
	#works ul li .container {
		position: relative;
		margin-left: 50%;
		right: auto;
		bottom: auto;
		padding: 15px;
	}
}

#works ul li .container .date {
	font-size: 16px;
	line-height: 20px;
}

@media screen and (max-width: 900px) {
	#works ul li .container .date {
		font-size: 13px;
		line-height: 16px;
	}
}

#works ul li .container .category {
	position: absolute;
	top: 22px;
	right: 0;
	line-height: 20px;
	font-size: 13px;
	padding: 0 10px;
	background-color: #000;
	color: #fff;
}

@media screen and (max-width: 900px) {
	#works ul li .container .category {
		font-size: 10px;
		line-height: 16px;
		top: 15px;
		padding: 0 5px;
	}
}

#works ul li .container .title {
	font-size: 14px;
	line-height: 21px;
	margin-top: 18px;
}

@media screen and (max-width: 900px) {
	#works ul li .container .title {
		font-size: 11px;
		line-height: 15px;
	}
}

#works ul li .container .title + p {
	margin-top: 10px;
	font-size: 15px;
	line-height: 22px;
}

@media screen and (max-width: 900px) {
	#works ul li .container .title + p {
		font-size: 12px;
		line-height: 18px;
		margin-top: 5px;
	}
}

#works .more {
	margin-top: 48px;
	text-align: right;
}

@media screen and (max-width: 900px) {
	#works .more {
		margin-top: 20px;
		text-align: center;
	}
}


#works .more a {
	display: inline-block;
	font-size: 18px;
	line-height: 40px;
	background-color: #262626;
	padding: 0 30px;
	width: 312px;
	color: #fff;
	text-align: left;
	position: relative;
}


@media screen and (max-width: 900px) {
	#works .more a {
		width: 250px;
		line-height: 33px;
		font-size: 16px;
		text-align: center;
		padding: 0;
	}
}

#works .more a:after {
	content: "";
	background-image: url(../images/home/more_arrow_white.png);
	width: 24px;
	height: 12px;
	display: block;
	position: absolute;
	bottom: 15px;
	right: 25px;
}


@media screen and (max-width: 900px) {
	#works .more a:after {
		background-size: cover;
		width: 18px;
		height: 9px;
		right: 10px;
		bottom: 11px;
	}
}

/*

*/

#fukuinfo {
	padding-top: 90px;
}

@media screen and (max-width: 900px) {
	#fukuinfo {
		padding: 45px 0 25px;
	}
}

#fukuinfo header h2,
#fukuinfo header .title {
	width: 248px;
}

#fukuinfo header .copy {
	height: 33px;
}

#fukuinfo header .copy,
#fukuinfo header .lead {
		padding-left: 248px;
}

@media screen and (max-width: 900px) {
	#fukuinfo header .copy,
	#fukuinfo header .lead {
			padding-left: 0;
	}
}

@media screen and (max-width: 900px) {
	#fukuinfo header h2 img {
		width: 178px;	
	}
}

#fukuinfo ul {
	overflow: hidden;
	margin: 0 -2px -2px;
	margin-top: 45px;
}

@media screen and (max-width: 900px) {
	#fukuinfo ul {
		margin-top: 20px;	
	}
}

#fukuinfo ul li {
	width: 50%;
	float: left;
	padding: 4px 2px;
}

@media screen and (max-width: 600px) {
	#fukuinfo ul li {
		width: auto;
	}
}

#fukuinfo ul li a {
	display: block;
	padding-bottom: 55px;
	position: relative;
}

@media screen and (max-width: 900px) {
	#fukuinfo ul li a {
		padding-bottom: 0;
	}
}


#fukuinfo ul li a:after {
	content: "";
	background-image: url(../images/home/more_arrow_black.png);
	background-size: cover;
	width: 24px;
	height: 12px;
	display: block;
	position: absolute;
	bottom: 25px;
	left: 400px;
}

@media screen and (max-width: 900px) {
	#fukuinfo ul li a:after {
		right: 10px;
		left: auto;
		bottom: 22px;
		width: 18px;
		height: 9px;
	}
}


#fukuinfo ul li figure img {
	width: 100%;
}

#fukuinfo ul li .container {
	background-color: #f1f2f5;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 385px;
	padding: 22px 25px;
}

@media screen and (max-width: 900px) {
	#fukuinfo ul li .container {
		position: relative;
		width: auto;
		padding: 15px;
	}
}

#fukuinfo ul li .container .date {
	font-size: 16px;
	line-height: 20px;
}



@media screen and (max-width: 900px) {
	#fukuinfo ul li .container .date {
		font-size: 13px;
		line-height: 16px;
	}
}


#fukuinfo ul li .container .category {
	position: absolute;
	top: 22px;
	right: 0;
	line-height: 20px;
	font-size: 13px;
	padding: 0 10px;
	background-color: #000;
	color: #fff;
}


@media screen and (max-width: 900px) {
	#fukuinfo ul li .container .category {
		font-size: 10px;
		line-height: 16px;
		top: 15px;
		padding: 0 5px;
	}
}


#fukuinfo ul li .container .series {
	font-size: 15px;
	line-height: 1.5;
	margin-top: 18px;
}

@media screen and (max-width: 900px) {
	#fukuinfo ul li .container .series {
		font-size: 12px;
		margin-top: 10px;
	}
}

#fukuinfo ul li .container .title {
	margin-top: 5px;
	font-size: 18px;
	line-height: 1.5;
}

@media screen and (max-width: 900px) {
	#fukuinfo ul li .container .title {
		font-size: 17px;
	}
}

#fukuinfo ul li .container .excerpt {
	font-size: 13px;
	line-height: 19px;
	margin-top: 10px;
}

@media screen and (max-width: 1200px) {
	#fukuinfo ul li .container .excerpt {
		display: none;
	}
}

#fukuinfo ul li .container .more {
	font-size: 13px;
	margin-top: 0;
	text-align: right;
	text-decoration: underline;
}

@media screen and (max-width: 1200px) {
	#fukuinfo ul li .container .more {
		display: none;
	}
}

#fukuinfo .more {
	margin-top: 48px;
	text-align: right;
}

@media screen and (max-width: 900px) {
	#fukuinfo .more {
		margin-top: 20px;
		text-align: center;
	}
}

#fukuinfo .more a {
	display: inline-block;
	font-size: 18px;
	line-height: 40px;
	background-color: #262626;
	padding: 0 30px;
	width: 312px;
	color: #fff;
	text-align: left;
	position: relative;
}

@media screen and (max-width: 900px) {
	#fukuinfo .more a {
		width: 250px;
		line-height: 33px;
		font-size: 16px;
		text-align: center;
		padding: 0;
	}
}

#fukuinfo .more a:after {
	content: "";
	background-image: url(../images/home/more_arrow_white.png);
	width: 24px;
	height: 12px;
	display: block;
	position: absolute;
	bottom: 15px;
	right: 25px;
}

@media screen and (max-width: 900px) {
	#fukuinfo .more a:after {
		background-size: cover;
		width: 18px;
		height: 9px;
		right: 10px;
		bottom: 11px;
	}
}


/*

*/

#secondary {
	overflow: hidden;
	padding-top: 150px;
	padding-bottom: 80px
}

@media screen and (max-width: 900px) {
	#secondary {
		padding: 0;
	}
}

/*

*/

#news {
	width: 100%;
	margin-right: -40%;
	float: left;
	padding-right: 40%;
	padding-left: 8%;
}

@media screen and (max-width: 900px) {
	#news {
		float: none;
		margin: 0;
		padding: 45px 25px 0;
	}
}

#news .inner {
	background-color: #f1f2f5;
	padding: 0 50px 30px 0;
	position: relative;
}

@media screen and (max-width: 900px) {
	#news .inner {
		padding: 0 0 15px;
	}
}

#news .inner:before {
	content: "";
	position: absolute;
	width: 100%;
	top: 0;
	right: 100%;
	height: 100%;
	background-color: #f1f2f5;
	display: block;
}

@media screen and (max-width: 900px) {
	#news .inner:after {
		content: "";
		position: absolute;
		width: 100%;
		top: 0;
		left: 100%;
		height: 100%;
		background-color: #f1f2f5;
		display: block;
	}
}

#news h2 {
	position: relative;
	top: -20px;
}

@media screen and (max-width: 900px) {
	#news h2 {
		top: -14px;
	}
}

@media screen and (max-width: 900px) {
	#news h2 img {
		width: 76px;
	}
}

#news .inner ul li {
	border-top: 3px solid #fff;
}

@media screen and (max-width: 900px) {
	#news .inner ul li {
		border-top: 1.5px solid #fff;
	}
}

#news .inner ul li:first-child {
	border: none;
}

#news .inner ul li span,
#news .inner ul li a {
	padding: 18px 0;
	display: block;
}

@media screen and (max-width: 900px) {
	#news .inner ul li span,
	#news .inner ul li a {
		padding: 10px 0;
	}
}

#news .inner ul li .date {
	margin-bottom: 12px;
	font-size: 16px;
}

@media screen and (max-width: 900px) {
	#news .inner ul li .date {
		font-size: 13px;
		margin-bottom: 10px;
	}
}

#news .inner ul li .title {
	font-size: 13px;
	line-height: 20px;
}

@media screen and (max-width: 900px) {
	#news .inner ul li .title {
		font-size: 12px;
		line-height: 18px;
	}
}


/*

*/

#group {
	float: right;
	width: 40%;
	padding-left: 70px;
}

@media screen and (max-width: 900px) {
	#group {
		float: none;
		width: auto;
		padding: 45px 25px 55px;
	}
}


#group h2 {
	position: relative;
	top: -20px;
	margin-bottom: -20px;
}

@media screen and (max-width: 900px) {
	#group h2 {
		top: 0;
		margin-bottom: 0;
	}
}

@media screen and (max-width: 900px) {
	#group h2 img {
		width: 220px;
	}
}
	
#group header .title {
	padding-top: 15px;
}

@media screen and (max-width: 900px) {
	#group header .title {
		padding-top: 0;
		margin-top: 12px;
	}
}

#group ul {
	margin-top: 40px;
}

@media screen and (max-width: 900px) {
	#group ul {
		margin-top: 20px;
	}
}

#group ul li {
	margin-top: 15px;
}

@media screen and (max-width: 900px) {
	#group ul li {
		margin-top: 10px;
	}
}

#group ul li a {
	display: block;
	text-align: center;
	height: 60px;
}

@media screen and (max-width: 900px) {
	#group ul li a {
		height: 40px;
	}
}

#group ul li:first-child a {
	background-color: #0b0b0b;
}

#group ul li:first-child + li a {
	background-color: #0059af;
}

#group ul li a img {
	height: 100%;
}