
/*

*/

#visual {
	background-image: url(../images/recruit/visual.jpg);
}

/*

*/

body.recruit dl {
	margin-top: -15px;
	margin-bottom: 25px;
}

body.recruit dl dt {
	border: none;
	display: block;
	margin: 0;
	padding: 0;
	line-height: 1;
	font-weight: normal;
	float: left;
	font-weight: bold;
	padding: 25px 0;
	font-size: 15px;
	line-height: 1.7;
}

@media screen and (max-width: 900px) {
	body.recruit dl dt {
		font-size: 12px;
		padding: 12px 0;
	}
}

body.recruit dl dd {
	padding: 25px 0;
	padding-left: 150px;
	border-bottom: 1px solid #000;
	font-size: 15px;
	line-height: 1.7;
}

@media screen and (max-width: 900px) {
	body.recruit dl dd {
		font-size: 12px;
		padding: 12px 0;
		padding-left: 100px;
	}
}

body.recruit dl dd p:last-child {
	margin-bottom: 0;
}

body.recruit .action {
	text-align: center;
	margin-top: 45px;
}