@charset "utf-8"; 

html {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	background-color: #f1f2f5;
}

*, *:before, *:after {
	 -webkit-box-sizing: inherit;
	         box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

ul, ol, ul ul, ol ol {
	list-style: none;
}

main {
	display: block;
}

img {
	vertical-align: top;
}

/*

*/

span.for-pc {
	display: inline;	
}

span.for-sp {
	display: none;
}

@media screen and (max-width: 900px) {
	span.for-pc {
		display: none;	
	}
	
	span.for-sp {
		display: inline;
	}
}

div.for-pc {
	display: block;	
}

div.for-sp {
	display: none;
}

@media screen and (max-width: 900px) {
	div.for-pc {
		display: none;	
	}
	
	div.for-sp {
		display: block;
	}
}

img.for-pc {
	display: inline;	
}

img.for-sp {
	display: none;
}

@media screen and (max-width: 900px) {
	img.for-pc {
		display: none;	
	}
	
	img.for-sp {
		display: inline;
	}
}

/*

*/

body {
	position: relative;
	-webkit-text-size-adjust: 100%;
	color: #000000;
	font-family: 'Roboto',"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

@media screen and (max-width: 1200px) {
	body.is-menu-opened {
		overflow: hidden;
	}
}

/*

*/

a {
	color: inherit;
	text-decoration: none;
	opacity: 1;
	-webkit-transition: opacity ease 0.3s;
	transition: opacity ease 0.3s;
}

a:hover {
	opacity: 0.7;
}

input[type='submit'],
button {
	cursor: pointer;	
	-webkit-transition: opacity ease 0.3s;	
	transition: opacity ease 0.3s;
}

input[type='submit']:hover,
button:hover {
	opacity: 0.7;
}

/*

*/

#pagetop {
/*
	min-width: 1170px;
*/
	margin: 0 auto;
	background-color: #ffffff;
	overflow: hidden;
}

@media screen and (max-width: 900px) {
	#pagetop {
		min-width: 320px;
	}
}

@media screen and (max-width: 1200px) {
	body.is-menu-opened #pagetop:after {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height:  100%;
		z-index: 1001;
		background-color: rgba(0, 0, 0, 0.8);
	}
}

/*

*/

.site {
	max-width: 1020px;
	margin: 0 auto;
	position: relative;
}

@media screen and (max-width: 1200px) {
	.site {
		width: auto;
		margin: 0 25px;
	}
}

/*

*/

#header {
	position: fixed;
	top: 0;
	right: 0;
	width: 150px;
	height: 100%;
	min-height: 500px;
	z-index: 1002;
	background-color: #fff;
	border-left: 1px solid #cccccc;
	padding: 57px 18px;
}

@media screen and (max-width: 1200px) {
	#header {
		background-color: transparent;
		width: 100%;
		height: 45px;
		padding: 0;
		min-height: 45px;
	}
	
	.is-menu-opened #header {
		overflow: scroll;
		max-height: 100%;
		height: auto;
		padding-top: 40px;
		background-color: #fff;	
	}
}

@media screen and (max-width: 1200px) {
	#header .logo {
		position: absolute;
		top: 15px;
		right: 68px;
	}
}

#header .logo a {
	background-image: url(../images/common/header_logo.png);
	width: 115px;
	height: 22px;
	display: block;
	text-indent: -9999px;
	overflow: hidden;
}

@media screen and (max-width: 1200px) {
	#header .logo a {
		width: 73px;
		height: 14px;
		background-size: cover;
	}
}


#header .logo + p {
	font-size: 13px;
	line-height: 20px;
	margin-top: 15px;
	text-align: center;
}

@media screen and (max-width: 1200px) {
	#header .logo + p {
		position: absolute;
		right: 157px;
		top: 15px;
		line-height: 14px;
		font-size: 9px;
		margin-top: 0;
	}

	#header .logo + p br {
		display: none;
	}
}

#header .menu {
	display: none;
}

@media screen and (max-width: 1200px) {
	#header .menu {
		display: block;
		top: 15px;
		right: 17px;
		position: absolute;
	}

	#header .menu a {
		display: block;
		height: 14px;
		width: 28px;
	}
	
	#header .menu a span {
		position: absolute;
		text-indent: -9999px;
		overflow: hidden;
		width: 100%;
		height: 2px;
		margin-top: -1px;
		background-color: #000;
		top: 50%;
		display: block;
		opacity: 1;
		transition: opacity ease 0.3s 0s;
	}

	.is-menu-opened #header .menu a span {
		opacity: 0;
	}
	
	#header .menu a:before {
		content: "";
		position: absolute;
		overflow: hidden;
		width: 100%;
		height: 2px;
		margin-top: -1px;
		background-color: #000;
		top: 0%;
		display: block;
		transition: top ease 0.3s 0.3s, transform ease 0.3s 0s;
	}

	.is-menu-opened #header .menu a:before {
		top: 50%;
		transform: rotate(-45deg);
		transition: top ease 0.3s 0s, transform ease 0.3s 0.3s;
	}

	
	#header .menu a:after {
		content: "";
		position: absolute;
		overflow: hidden;
		width: 100%;
		height: 2px;
		margin-top: -1px;
		background-color: #000;
		top: 100%;
		display: block;
		transition: top ease 0.3s 0.3s, transform ease 0.3s 0s;
	}

	.is-menu-opened #header .menu a:after {
		top: 50%;
		transform: rotate(45deg);
		transition: top ease 0.3s 0s, transform ease 0.3s 0.3s;
	}

}

#header nav.contact {
	margin-top: 50px; 
}

@media screen and (max-width: 1200px) {
	#header nav.contact {
		display: none;
	}
}

#header nav.contact > p {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

#header nav.contact > ul .tel {
}

#header nav.contact > ul .tel:before {
	content: "";
	background-image: url(../images/common/header_contact_tel_icon.png);
	width: 30px;
	height: 30px;
	display: block;
	margin-top: 20px;
}

#header nav.contact > ul .tel > p:first-child {
	margin-top: 12px;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
}

#header nav.contact > ul .tel > p:first-child + p {
	font-size: 12px;
	margin-top: 8px;
}

#header nav.contact > ul .tel > p:first-child + p span {
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
}

#header nav.contact > ul .tel > p:first-child + p + p {
	font-size: 10.8px;
	margin-top: 10px;
}

#header nav.contact > ul .tel > p:first-child + p + p span {
	display: inline-block;
	margin-left: -0.3em;
	margin-right: -0.3em;
}

#header nav.contact > ul .web {
	margin-top: 25px;
}

#header nav.contact > ul .web:before {
	content: "";
	background-image: url(../images/common/header_contact_web_icon.png);
	width: 30px;
	height: 25px;
	display: block;
	margin-top: 8px;
	margin-bottom: 10px;
}

#header nav.contact > ul .web a {
	display: block;
	font-size: 13px;
	line-height: 16px;
	position: relative;
}

#header nav.contact > ul .web a:after {
	content: "";
	background-image: url(../images/common/header_contact_arrow.png);
	width: 21px;
	height: 12px;
	position: absolute;
	bottom: 4px;
	right: 0;
}


#header nav.contact > ul .recruit {
	margin-top: 25px;
}

#header nav.contact > ul .recruit:before {
	content: "";
	background-image: url(../images/common/header_contact_recruit_icon.png);
	width: 32px;
	height: 28px;
	display: block;
	margin-top: 8px;
	margin-bottom: 7px;
}

#header nav.contact > ul .recruit a {
	display: block;
	font-size: 13px;
	line-height: 16px;
	position: relative;
}

#header nav.contact > ul .recruit a:after {
	content: "";
	background-image: url(../images/common/header_contact_arrow.png);
	width: 21px;
	height: 12px;
	position: absolute;
	bottom: 4px;
	right: 0;
}

#header nav.global {
	position: fixed;
	top: 0;
	left: 0;
	right: 150px;
	background-color: rgba(0,0,0,0.7);
	color: #fff;
}

@media screen and (max-width: 1200px) {
	#header nav.global {
		display: none;
	}
}

#header nav.global > ul {
	text-align: center;
	font-size: 0;
}


#header nav.global > ul > li {
	display: inline-block;
	font-size: 16px;
	line-height: 60px;
}

#header nav.global > ul > li > a {
	display: block;
	position: relative;
	opacity: 1 !important;
	padding: 0 35px;
}

#header nav.global > ul > li > a span {
	display: block;
	min-width: 70px;
	position: relative;
}

#header nav.global > ul > li.current > a span:after {
	content: "";
	display: block;
	width: 100%;
	height: 7px;
	background-color: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
}

#header nav.global > ul > li > ul {
	line-height: 1;
	display: block;
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	height: 0;
	overflow: hidden;
	background-color: rgba(204,219,236, 0.75);
	background-color: rgba(204,219,236,0.9);
	font-weight:bold;
}

#header nav.global > ul > li:hover ul {
	z-index: 1;
}

#header nav.global li.current ul {
	height: 40px;
}

#header nav.global > ul > li:hover > ul {
	height: 40px;
	text-align: center;
}

#header nav.global > ul > li > ul {
	font-size: 0;
}

#header nav.global > ul > li > ul > li {
	font-size: 13px;
	line-height: 40px;
	color: #1e2c50;
	margin: 0;
	display: inline-block;
}

#header nav.global > ul > li > ul > li a {
	padding: 0 18px;
	position: relative;
	display: inline-block;
	opacity: 1 !important;
}

#header nav.global > ul > li > ul > li a:hover {
	background-color: #fff;
}

#header nav.global li.current li.current a:before {
	position: absolute;
	top: 50%;
	left: 6px;
	margin-top: -10px;
	content: "";
	display: block;
	width: 3px;
	height: 20px;
	background-color: #fff;
}


#header #menu {
	display: none;
}

@media screen and (max-width: 1200px) {
	body.is-menu-opened #header #menu {
		display: block;
	}
}

@media screen and (max-width: 1200px) {
	#header #menu ul.primary {
		display: block;
		position: static;
		background-color: #293654;
	}
}

@media screen and (max-width: 1200px) {
	#header #menu ul.primary {
		text-align: left;
		font-size: 18px;
	}
}

@media screen and (max-width: 1200px) {
	#header #menu ul.primary > li {
		display: block;
		line-height: 35px;
		margin: 0;
		border-bottom: 1px solid #fff;
	}
}

@media screen and (max-width: 1200px) {
	#header #menu ul.primary > li > a {
		padding: 0 25px;
		color: #fff;
		display: block;
		position: relative;
	}
		
	#header #menu ul.primary > li.accordion > a:before {
		display: block;
		content: "";
		width: 14px;
		height: 2px;
		background-color: #fff;
		position: absolute;
		right: 25px;
		top: 50%;
		transform: rotate(-90deg);
	}

	#header #menu ul.primary > li.accordion.is-opened > a:before {
		transform: rotate(0deg);
	}
	
	#header #menu ul.primary > li.accordion > a:after {
		display: block;
		content: "";
		width: 14px;
		height: 2px;
		background-color: #fff;
		position: absolute;
		right: 25px;
		top: 50%;
	}
}


@media screen and (max-width: 1200px) {
	#header #menu ul.primary > li > ul {
		display: none;
		position: relative;
		top: 0;
		line-height: 35px;
		height: auto;
		background-color: #c9ccd5;
		color: #283555;
	}
}

@media screen and (max-width: 1200px) {
	#header #menu ul.primary > li:hover > ul {
		height: auto;
	}
}


@media screen and (max-width: 1200px) {
	#header #menu ul.primary > li > ul > li {
		border-top: 1px solid #fff;
		line-height: 35px;
		float: none;
		margin: 0;
	}
}

@media screen and (max-width: 1200px) {
	#header #menu ul.primary > li > ul > li a {
		display: block;
		padding: 0 25px;
	}
}	

@media screen and (max-width: 1200px) {
	#header #menu ul.secondary {
		display: block;
		background-color: #f1f2f5;
		padding: 30px 25px;
	}

	#header #menu ul.secondary .contact {
		margin-bottom: 25px;
	}
	
	#header #menu ul.secondary .contact a {
		background-color: #98c1db;
		line-height: 35px;
		display: block;
		text-align: center;
		color: #fff;
		font-size: 16px;
	}
	
	#header #menu ul.secondary .contact a:before {
		content: "";
		display: inline-block;
		background-image: url(../images/common/menu_contact_icon.png);
		background-size: cover;
		width: 23px;
		height: 18.5px;
		margin-right: 10px;
		vertical-align: -3px;
	}
	
	#header #menu ul.secondary .tel {
		margin-bottom: 25px;
		text-align: center;
	}

	#header #menu ul.secondary .tel p:first-child {
		font-size: 12px;
		line-height: 23px;
		margin-bottom: 3px;
		margin-right: 10px;
		display: inline-block;
		vertical-align: middle;
	}

	#header #menu ul.secondary .tel p:first-child + p {
		font-size: 23px;
		line-height: 23px;
		margin-bottom: 3px;
		display: inline-block;
	}

	#header #menu ul.secondary .tel p:first-child + p + p {
		font-size: 14px;
		line-height: 23px;
		margin-bottom: 0;
	}

	#header #menu ul.secondary .sitemap {
		text-align: center;
		font-size: 13px;
	}

	#header #menu ul.secondary .sitemap a:after {
    background-image: url("../images/home/more_arrow_black.png");
    background-size: cover;
    content: "";
    display: inline-block;
    height: 8px;
    right: 25px;
    width: 14px;
		margin-left: 10px;
	}
}

#header .anniversary {
	position: absolute;
	left: 25px;
	bottom: 15px;
}

@media screen and (max-width: 1200px) {
	#header .anniversary {
		display: none;		
	}
}

#header .anniversary img {
	width: 102px;	
}

/*

*/

#content {
	margin-right: 150px;
	letter-spacing: 0.02em;
	position: relative;
}

@media screen and (max-width: 1200px) {
	#content {
		margin-right: 0;
	}
}

/*

*/

#footer {
	background-color: #f1f2f5;
	padding: 60px 0 0;
	padding-right: 150px;
	height: 320px;
}

@media screen and (max-width: 1200px) {
	#footer {
		padding-right: 0px;
	}
}

@media screen and (max-width: 900px) {
	#footer {
		padding: 55px 0;
		height: auto;
	}
}

#footer .pagetop {
	position: fixed;
	z-index: 1003;
	right: 120px;
	bottom: 88px;
}

@media screen and (max-width: 1200px) {
	#footer .pagetop {
		right: 15px;
		bottom: 15px;
		z-index: 1000;
	}
}

#footer .pagetop a {
	display: block;
	background-image: url(../images/common/footer_pagetop.png);
	background-size: cover;
	width: 60px;
	height: 60px;
	overflow: hidden;
	text-indent: -9999px;
}

@media screen and (max-width: 1200px) {
	#footer .pagetop a {
		width: 40px;
		height:  40px;
	}
}

#footer .inner {
	padding-left: 8%;
	position: relative;
}

@media screen and (max-width: 900px) {
	#footer .inner {
		padding: 0;
		margin: 0 25px;
		overflow: hidden;
	}
}

@media screen and (max-width: 900px) {
	#footer-01 {
		float: right;
	}
}

#footer nav.contact > p {
	font-size: 20px;
}

@media screen and (max-width: 900px) {
	#footer nav.contact > p {
		font-size: 13px;
	}
}

#footer nav.contact > ul {
	margin-top: 20px;
	overflow: hidden;
	margin-bottom: 50px;
}

@media screen and (max-width: 900px) {
	#footer nav.contact > ul {
		margin-bottom: 30px;
	}
}

#footer nav.contact > ul li {
	padding-right: 30px;
	float: left;
}

@media screen and (max-width: 900px) {
	#footer nav.contact > ul li {
		float: none;
		padding: 0;
	}
}

#footer nav.contact > ul li.tel p:first-child {
	padding-top: 5px;
	font-size: 14px;
}

@media screen and (max-width: 900px) {
	#footer nav.contact > ul li.tel p:first-child {
		padding-top: 0px;
		font-size: 10px;
	}
}

#footer nav.contact > ul li.tel p:first-child + p {
	font-size: 26px;
	margin-top: 8px;
}

@media screen and (max-width: 900px) {
	#footer nav.contact > ul li.tel p:first-child + p {
		font-size: 18px;
		margin-top: 6px;
	}
}

#footer nav.contact > ul li.tel p:first-child + p + p {
	font-size: 14px;
	margin-top: 8px;
}

@media screen and (max-width: 900px) {
	#footer nav.contact > ul li.tel p:first-child + p + p {
		font-size: 11px;
		margin-top: 6px;
	}
}

#footer nav.contact > ul li.tel p:first-child + p + span {
	font-size: 16px;
}

@media screen and (max-width: 900px) {
	#footer nav.contact > ul li.tel p:first-child + p + span {
		font-size: 12px;
	}
}

#footer nav.contact > ul li.web {
	border-left: 3px solid #fff;
	padding: 25px;
	padding-left: 30px;
}

@media screen and (max-width: 900px) {
	#footer nav.contact > ul li.web {
		border: none;
		padding: 0;
		margin-top: 15px;
	}
}

#footer nav.contact > ul li.web {
	line-height: 25px;
}

@media screen and (max-width: 900px) {
	#footer nav.contact > ul li.web {
		font-size: 12px;
	}
}

#footer nav.contact > ul li.web a:before {
	content: "";
	background-image: url(../images/common/footer_contact_web_icon.png);
	background-size: cover;
	width: 30px;
	height: 25px;
	display: inline-block;
	vertical-align: -5px;
	margin-right: 8px;
}

@media screen and (max-width: 900px) {
	#footer nav.contact > ul li.web a:before {
		display: block;
		width: 22.5px;
		height: 18.5px;
	}
}

#footer nav.contact > ul li.web a:after {
	content: "";
	background-image: url(../images/common/footer_contact_arrow.png);
	background-size: cover;
	width: 21px;
	height: 12px;
	display: inline-block;
	vertical-align: 0px;
	margin-left: 8px;
}

@media screen and (max-width: 900px) {
	#footer nav.contact > ul li.web a:after {
		width: 14px;
		height: 7.5px;
	}
}

@media screen and (max-width: 900px) {
	#footer nav.menu {
		position: absolute;
		top: 0;
		left: 0;
	}
}

#footer nav.menu ul {
	overflow: hidden;
}

#footer nav.menu ul li {
	float: left;
	margin-right: 30px;
}

@media screen and (max-width: 900px) {
	#footer nav.menu ul li {
		float: none;
		margin-bottom: 18px;
	}
}

@media screen and (max-width: 900px) {
	#footer nav.menu ul li {
		font-size: 11px;
	}
}

#footer .information {
	position: absolute;
	top: 0;
	right: 65px;
	letter-spacing: 0.05em;
}

@media screen and (max-width: 900px) {
	#footer .information {
		position: relative;
		right: auto;
		top: auto;
	}
}

#footer .information .fukuin {
	font-size: 18px;
	font-weight: bold;
}

@media screen and (max-width: 900px) {
	#footer .information .fukuin {
		font-size: 13px;
	}
}

#footer .information .address {
	font-size: 14px;
	line-height: 21px;
	margin-top: 20px;
}

@media screen and (max-width: 900px) {
	#footer .information .address {
		font-size: 11px;
		line-height: 16.5px;
		margin-top: 10px;
	}
}

#footer .information .copyright {
	font-size: 13px;
	margin-top: 35px;
}

@media screen and (max-width: 900px) {
	#footer .information .copyright {
		font-size: 11px;
		margin-top: 15px;
	}
}
