
/*

*/

#visual {
	background-image: url(../images/contact/visual.jpg);
}

/*

*/

input[type='text'],
input[type='email'] {
	border: none;
	background-color: #e5e5e5;
	height: 28px;
	line-height: 28px;
	padding: 0 10px;
	width: 100%;
	font-size: 13px;
}

@media screen and (max-width: 600px) {
	input[type='text'],
	input[type='email'] {
		font-size: 16px;
	}
}

input[type='text'].size-s {
	width: 100px;
}

input[type='checkbox'] {
	vertical-align: 2px;	
}

input[type='radio'] {
	vertical-align: 2px;	
}

input.success,
textarea.success {
	background-color: #e2f1ff;
}

input.error,
textarea.error {
	background-color: #fee5e1;
}

textarea {
	border: none;
	background-color: #e5e5e5;
	height: 28px;
	padding: 10px;
	width: 100%;
	height: 150px;
	font-size: 13px;
}


@media screen and (max-width: 600px) {
	textarea {
		font-size: 16px;
	}
}

/*

*/

.note {
	font-size: 13px;
	letter-spacing: 0;
	margin-top: 5px;
	margin-bottom: 0;
}

@media screen and (max-width: 900px) {
	.note {
		font-size: 10px;
	}
}

span.error,
p.error {
	font-size: 13px;
	letter-spacing: 0;
	margin-top: 5px;
	margin-bottom: 0;
	color: #cc0000;
}

@media screen and (max-width: 900px) {
	span.error,
	p.error {
		font-size: 10px;
	}
}

.required {
	font-size: 13px;
	font-weight: normal;
	color: #cc0000;
}

@media screen and (max-width: 900px) {
	.required {
		font-size: 10px;
	}
}

/*

*/

#contact {
	width: 760px;
}

@media screen and (max-width: 900px) {
	#contact {
		width: auto;
	}
}

#contact > header {
	margin-top: 0;
}

#contact dl {
	width: 100%;
}

#contact dl dt {
	text-align: left;
	vertical-align: top;
	border: none;
	display: block;
	margin: 0;
	padding: 0;
	line-height: 1;
	font-weight: normal;
	float: left;
	font-weight: bold;
	padding: 22px 0 0;
	width: 170px;
	position: relative;
}

@media screen and (max-width: 600px) {
	#contact dl dt {
		float: none;
		padding-top: 10px;
	}
}

#contact dl dt.email-conf span {
	display: block;
	font-size: 14px;
	margin-top: 5px;
}

@media screen and (max-width: 900px) {
	#contact dl dt.email-conf span {
		display: inline;
		font-size: 10px;
	}
}

#contact dl dt.email-conf + dd {
	padding-bottom: 25px;	
}

#contact dl dt .required {
	position: absolute;
	top: 22px;
	right: 0;
	margin-top: 0 !important;
}

@media screen and (max-width: 600px) {
	#contact dl dt .required {
		position: static;
	}
}

#contact dl dd {
	padding: 15px 0;
	padding-left: 180px;
}

@media screen and (max-width: 600px) {
	#contact dl dd {
		padding: 10px 0 !important;
		padding-left: 0;
	}
}

#contact dl dd .row {
	margin: 0 -7px;	
}

@media screen and (max-width: 600px) {
	#contact dl dd .row {
		width: auto;
	}
}

#contact dl dd .col {
	float: left;
	width: 100%;
	padding: 0 7px;	
}

#contact dl dd .col-50 {
	width: 50%;
}

#contact dl.address {
	margin-top: -10px;
	margin-bottom: -10px;
}

#contact dl.address dt {
	width: auto;	
	font-weight: normal;
}

#contact dl.address dd {
	padding-left: 100px;
}

@media screen and (max-width: 600px) {
	#contact dl.address dd {
		padding-left: 0;
	}
}

#contact-privacy {
	background-color: #f1f2f5;
	padding: 40px 30px;
	font-size: 14px;
	line-height: 22.4px;
	margin-top: 35px;
}

@media screen and (max-width: 600px) {
	#contact-privacy {
		margin: 0 -25px;
		margin-top: 35px;
		padding: 25px;
		font-size: 12px;
	}
}

#contact-privacy h3 {
	margin: 0;
	font-size: 17px;
	margin-bottom: 15px;
}

@media screen and (max-width: 600px) {
	#contact-privacy h3 {
		font-size: 14px;
	}
}

#contact-privacy .scroll {
	overflow: scroll;
	height: 150px;
	background-color: #fff;
	padding: 15px;
	margin-bottom: 45px;
}

@media screen and (max-width: 600px) {
	#contact-privacy .scroll {
		margin-bottom: 20px;
	}
}

#contact .action {
	margin-top: 50px;
	text-align: center;
	overflow: hidden;
}

@media screen and (max-width: 900px) {
	#contact .action {
		margin-top: 30px;
	}
}

#contact .action .btn {
	min-width: 275px !important;
}

@media screen and (max-width: 900px) {
	#contact .action .btn {
		min-width: 240px !important;
	}
}

#contact.conf .action,
#contact.comp .action {
	width: 590px;
	margin-left: 0;
	margin-right: auto;
}

@media screen and (max-width: 900px) {
	#contact.conf .action,
	#contact.comp .action {
		width: 500px;
	}
}

@media screen and (max-width: 600px) {
	#contact.conf .action,
	#contact.comp .action {
		width: 300px;
		margin-left: auto;
		margin-right: auto;
	}
}

#contact.conf .action .btn {
	float: right;
}

#contact.conf .action .btn.back {
	float: left;
}

#contact.comp .action .btn.home {
	float: left;
}

@media screen and (max-width: 600px) {
	#contact.conf .action .btn {
		float: none !important;
	}

	#contact.conf .action .btn.back {
		margin-top: 20px !important;
	}
}

#contact.comp .message {
	font-size: 24px;
	font-weight: bold;
}

@media screen and (max-width: 900px) {
	#contact.comp .message {
		font-size: 16px;
	}
}