
/*

*/

#visual {
	background-image: url(../images/technique/visual.jpg);
}

/*

*/

.technique-proof #ddcp-02 .row .col {
	width: 146px;
	margin-right: 18px;
	position: relative;
}

@media screen and (max-width: 900px) {
	.technique-proof #ddcp-02 .row .col {
		float: none;
		width: auto;
		margin-right: 0;
	}
}

.technique-proof #ddcp-02 .row .col:before {
	content: "";
	display: block;
	background-image: url(../images/technique/proof/ddcp_02_img_arrow.png);
	width: 6px;
	height: 12px;
	margin-top: -6px;
	top: 54px;
	left: -11px;
	position: absolute;
}

.technique-printing #pre-02 .row .col:before {
    content: "";
    display: block;
    background-image: url(../images/technique/proof/ddcp_02_img_arrow.png);
    width: 6px;
    height: 12px;
    margin-top: -6px;
    top: 54px;
    left: -11px;
    position: absolute;
}



@media screen and (max-width: 900px) {
	.technique-proof #ddcp-02 .row .col:before {
		top: -20px;
		left: 73px;
		margin-top: 0;
		margin-left: -3px;
		transform: rotate(90deg);
	}
}

.technique-proof #ddcp-02 .row .col:first-child:before {
	display: none;
}

@media screen and (max-width: 900px) {
	.technique-proof #ddcp-02 figure {
		overflow: hidden;
	}

	.technique-proof #ddcp-02 figure img {
		float: left;
		margin-right: 10px;
	}
}

.technique-proof #ddcp-02 figcaption {
	line-height: 1.3;
	margin-top: 6px;
}

@media screen and (max-width: 900px) {
	.technique-proof #ddcp-02 figcaption {
		line-height: 1.5;
		margin-top: 6px;
	}
}

/*

*/

.technique-printing #hd-02 .row {
	margin: 0 -10px;
}

.technique-printing #hd-02 .col {
	padding: 0 10px;
}

.technique-printing #hd-02 .col:first-child {
	width: 80%;
}

.technique-printing #hd-02 .col:first-child + .col {
	width: 20%;
}

.technique-printing #hd-03 .row {
	margin: 0 -10px;
}

.technique-printing #hd-03 .col {
	padding: 0 10px;
}

/*

*/

.technique-process #bp:after {
	content: "";
	display: table;
	clear: both;
}

.technique-process #bp figure {
	float: left;
	margin-right: 25px;
}
