
@media screen and (max-width: 900px) {
	#wrapper {
		padding-top: 10px;
	}
}

/*

*/

.sidefull {
	position: relative;
	z-index: 1;
}

@media screen and (max-width: 900px) {
	.sidefull {
		margin-right: 0 !important;
	}
}

/*

*/

main nav.category {
	margin-left: -37px;
}

@media screen and (max-width: 900px) {
	main nav.category {
		margin: 0 -25px;
	}
}

main nav.category ul {
	overflow: hidden;
	margin-left: -3px;
}

@media screen and (max-width: 900px) {
	main nav.category ul {
		margin: 0 -1px;
	}
}

main nav.category ul li {
	float: left;
	margin-left: 3px;
	margin-bottom: 3px;
}

@media screen and (max-width: 900px) {
	main nav.category ul li {
		width: 50%;
		margin: 0;
		padding: 0 1px;
		margin-top: 2px;
	}
	
	main nav.category ul li:first-child {
		width: 100%;
	}
}

main nav.category ul li a {
	display: block;
	height: 38px;
	padding: 0 45px 0 30px;
	background-color: #dfe1e6;	
	text-decoration: none;
	position: relative;
}

@media screen and (max-width: 900px) {
	main nav.category ul li a {
		font-size: 12px;
	}
}

main nav.category ul li a span {
	display: table-cell;
	height: 38px;
	vertical-align: middle;
	line-height: 1.2;
}


main nav.category ul li.is-active a {
	background-color: #343250;
	color: #fff;
}

main nav.category ul li a:after {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	right: 8px;
	background-image: url(../images/works/category_arrow.png);
	width: 11px;
	height: 6px;
	margin-top: -3px;
}

main nav.category ul li.is-active a:after {
	background-image: url(../images/works/category_arrow_active.png);
}


/*

*/

main nav.pagination {
	text-align: center;
	font-size: 0;
	margin-top: 100px;
}

@media screen and (max-width: 900px) {
	main nav.pagination {
		margin-top: 50px;
	}
}

main nav.pagination ul li {
	margin: 0 6px;
	display: inline-block;
}

main nav.pagination ul li span {
	display: inline-block;
	width: 32px;
	line-height: 32px;
	border-radius: 16px;
	background-color: #000;
	color: #fff;
	font-size: 18px;
}

main nav.pagination ul li a {
	display: inline-block;
	width: 32px;
	line-height: 32px;
	border-radius: 16px;
	background-color: #dfe1e6;
	font-size: 18px;
	text-decoration: none;
}

/*

*/

#list {
	padding-left: 0;
	padding-top: 0 !important;
	margin-top: 15px;
	margin-left: -37px;
}

@media screen and (max-width: 900px) {
	#list {
		margin: 0 -25px;
	}
}

#list ul {
	overflow: hidden;
	margin: 0 -2px -2px;
}

@media screen and (max-width: 900px) {
	#list ul {
		margin-top: 20px;
	}
}

#list ul li {
	width: 50%;
	float: left;
	padding: 4px 2px;
	margin-top: 22px;
}

@media screen and (max-width: 900px) {
	#list ul li {
		width: auto;
		float: none;
		overflow: hidden;
	}
}

#list ul li a {
	display: block;
	padding-bottom: 48px;
	position: relative;
}

@media screen and (max-width: 900px) {
	#list ul li a {
		padding-bottom: 0;
		background-color: #f1f2f5;
		overflow: hidden;
		text-decoration: none;
	}
}

#list ul li a:after {
	content: "";
	background-image: url(../images/home/more_arrow_black.png);
	background-size: cover;
	width: 24px;
	height: 12px;
	display: block;
	position: absolute;
	bottom: 25px;
	right: 40px;
	right: 75px;
}

@media screen and (max-width: 900px) {
	#list ul li a:after {
		right: 10px;
		left: auto;
		bottom: 10px;
		width: 18px;
		height: 9px;
	}
}


@media screen and (max-width: 900px) {
	#list ul li figure {
		margin-bottom: 0;
	}
}

#list ul li figure img {
	width: 100%;
}



#list ul li .container {
	background-color: #f1f2f5;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 75px;
	right: 110px;
	padding: 22px 25px;
}

@media screen and (max-width: 900px) {
	#list ul li .container {
		position: relative;
		width: auto;
		padding: 15px;
	}
}

#list ul li .container p {
	margin-bottom: 0;
}

#list ul li .container .date {
	font-size: 16px;
	line-height: 20px;
}


@media screen and (max-width: 900px) {
	#list ul li .container .date {
		font-size: 13px;
		line-height: 16px;
	}
}

#list ul li .container .category {
	position: absolute;
	top: 22px;
	right: 0;
	line-height: 20px;
	font-size: 13px;
	padding: 0 10px;
	background-color: #000;
	color: #fff;
}

@media screen and (max-width: 900px) {
	#list ul li .container .category {
		font-size: 10px;
		line-height: 16px;
		top: 15px;
		padding: 0 5px;
	}
}


#list ul li .container .subtitle {
	font-size: 15px;
	line-height: 21px;
	margin-top: 15px;
}

@media screen and (max-width: 900px) {
	#list ul li .container .subtitle {
		font-size: 12px;
		margin-top: 10px;
	}
}


#list ul li .container .title {
	margin-top: 10px;
	font-size: 18px;
	line-height: 22px;
}

@media screen and (max-width: 900px) {
	#list ul li .container .title {
		font-size: 17px;
	}
}


#list ul li .container .excerpt {
	font-size: 13px;
	line-height: 19px;
	margin-top: 15px;
}

@media screen and (max-width: 1200px) {
	#list ul li .container .excerpt {
		display: none;
	}
}

#list ul li .container .more {
	font-size: 13px;
	margin-top: 0;
	text-align: right;
	text-decoration: underline;
}

@media screen and (max-width: 1200px) {
	#list ul li .container .more {
		display: none;
	}
}
