
/*

*/

#content .site {
	width: 850px;
}

@media screen and (max-width: 1200px) {
	#content .site {
		margin: 0 auto;
	}
}

@media screen and (max-width: 900px) {
	#content .site {
		margin: 0 25px;
		width: auto;
	}
}

/*

*/

#visual {
	background-size: cover;
	height: 660px;
	margin-bottom: -340px;	
	position: relative;
	padding-top: 170px;
}

@media screen and (max-width: 1200px) {
	#visual {
		padding-top: 96px;
		height: 260px;
		margin-bottom: 0;
	}
}

@media screen and (max-width: 900px) {
	#visual {
		padding-top: 96px;
		height: 223px;
	}
}

#visual h1,
#visual p:first-child {
	font-size: 46px;
	font-family: 'Prata', serif;
	margin-bottom: 20px;
	line-height: 1;
	letter-spacing: 0;
}

@media screen and (max-width: 900px) {
	#visual h1,
	#visual p:first-child {
		font-size: 30px;
		font-size: 28px;
		margin-bottom: 15px;
	}
}

#visual h1 + p,
#visual p:first-child + p {
	font-size: 22px;
	line-height: 1;
}

@media screen and (max-width: 900px) {
	#visual h1 + p,
	#visual p:first-child + p {
		font-size: 18px;
	}
}

/*

*/

.breadcrumb {
	position: absolute;
	top: 345px;
	right: 30px;
	z-index: 100;
}

@media screen and (max-width: 1200px) {
	.breadcrumb {
		top: 300px;
	}
}

@media screen and (max-width: 900px) {
	.breadcrumb {
		display: none;
	}
}

.breadcrumb ol li {
	float: left;
	font-size: 12px;
}

.breadcrumb ol li:before {
	content: ">";
	margin: 0 5px;
}

.breadcrumb ol li:first-child:before {
	display: none;
}

/*

*/

main {
	font-size: 15px;
	line-height: 1.7;
}

@media screen and (max-width: 900px) {
	main {
		font-size: 12px;
	}
}

/*

*/

@media screen and (max-width: 1200px) {
	#wrapper {
		padding: 60px 0;
		background-color: #fff;
	}
}
	
@media screen and (max-width: 900px) {
	#wrapper {
		padding: 30px 0 60px;
		background-color: #fff;
	}
}
	
#wrapper .site {
	position: relative;
	padding-top: 65px;
	padding-left: 37px;
	padding-bottom: 80px;
	background-color: #fff;
}

@media screen and (max-width: 1200px) {
	#wrapper .site {
		padding: 0;
	}
}

#wrapper .site:before {
	position: absolute;
	right: 100%;
	top: 0;
	width: 55px;
	height:  100%;
	content: "";
	background-color:  #fff;
}

@media screen and (max-width: 1200px) {
	#wrapper .site:before {
		display: none;
	}
}

#wrapper .site:after {
	position: absolute;
	left: 100%;
	top: 0;
	width: 100%;
	height:  100%;
	content: "";
	background-color:  #fff;
}

@media screen and (max-width: 1200px) {
	#wrapper .site:after {
		display: none;
	}
}

#wrapper h1 {
	font-size: 34px;
	line-height: 1;
	padding-left: 0px;
	position: relative;
	margin-bottom: 20px;
}

@media screen and (max-width: 1200px) {
	#wrapper h1 {
		padding-left: 37px;
	}
}

@media screen and (max-width: 900px) {
	#wrapper h1 {
		font-size: 20px;
		padding-left: 17px;
		margin-bottom: 8px;
	}
}

#wrapper h1:before {
	position: absolute;
	top: 0;
	left: -37px;
	content: "";
	background-image: url(../images/basic/title_icon.png);
	width: 16px;
	height: 31px;
	background-size: cover;
}

@media screen and (max-width: 1200px) {
	#wrapper h1:before {
		left: 0;
	}
}

@media screen and (max-width: 900px) {
	#wrapper h1:before {
		width: 8px;
		height: 15.5px;
	}
}

#wrapper h1 + p {
	font-size: 24px;
	line-height: 1.5;
	font-family: 'Prata', serif;
}

@media screen and (max-width: 1200px) {
	#wrapper h1 + p {
		padding-left: 37px;
	}
}

@media screen and (max-width: 900px) {
	#wrapper h1 + p {
		font-size: 14px;
		padding-left: 17px;
	}
}


main section {
	margin-top: 25px;
	margin-bottom: 25px;
	padding-top: 35px;
	padding-left: 35px;
}

@media screen and (max-width: 1200px) {
	main section {
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 0;
		padding-left: 0;
	}
}

main section header {
	margin-top: 0px;
	margin-bottom: 25px;
	margin-left: -35px;
	padding-left: 35px;
	border-left: 1px solid #000;
}

@media screen and (max-width: 1200px) {
	main section header  {
		margin-top: 30px;
		margin-left: 0;
		padding-left: 18px;
	}
}

@media screen and (max-width: 900px) {
	main section header {
		margin-bottom: 15px;
	}
}

main section header h2 {
	font-size: 24px;
	line-height: 1.5;
	font-weight: bold;
	padding-bottom: 12px;
}

@media screen and (max-width: 900px) {
	main section header h2 {
		font-size: 17px;
		padding-bottom: 8px;
	}
}

main section header p {
	font-size: 16px;
	margin-bottom: 0;
	padding-bottom: 12px;
}

@media screen and (max-width: 900px) {
	main section header p {
		font-size: 12px;
		line-height: 1.6;
		padding-bottom: 8px;
	}
}

main section section {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-left: 0;
}

main h3 {
	font-size: 20px;
	margin-top: 60px;
	margin-top: 35px;
	margin-top: 50px;
	margin-bottom: 30px;
	margin-bottom: 20px;
	font-weight: bold;
}

@media screen and (max-width: 900px) {
	main h3 {
		margin-top: 20px;
		font-size: 14px;
		margin-bottom: 10px;
	}
}

main figure + h3 {
	margin-top: 25.5px;
}


main h4,
main .h4 {
	margin: 0;
	font-size: 18px;
	font-size: 17px;
	line-height: 1.7;
	font-weight: bold;
	display: inline-block;
	border-bottom: 5px solid #000;
	margin-bottom: 20px;
	margin-top: 20px;
}

@media screen and (max-width: 900px) {
	main h4,
	main .h4 {
		font-size: 13px;
		border-bottom: 4px solid #000;
		margin-top: 15px;
		margin-bottom: 15px;
	}
}

main h5,
main .h5 {
	display: block;
	border: none;
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 1.7;
	margin-bottom: 5px;
	font-weight: bold;
}

@media screen and (max-width: 900px) {
	main h5,
	main .h5 {
		font-size: 13px;
		margin-bottom: 0;
	}
}

/*
main dl dt {
	font-size: 16px;
	line-height: 1;
	padding-bottom: 8px;
	font-weight: bold;
	display: inline-block;
	border-bottom: 5px solid #000;
	margin-bottom: 20px;
}
*/
main p {
	margin-bottom: 25.5px;
}

@media screen and (max-width: 900px) {
	main p {
		margin-bottom: 21.6px;
	}
}

main p.signature {
	text-align: right;
}

main p.note {
	font-size: 13px;
	letter-spacing: 0;
}

@media screen and (max-width: 900px) {
	main p.note {
		font-size: 10px;
	}
}

main a {
	text-decoration: underline;
}

main figure {
	margin-bottom: 25.5px;
}

main section > figure:first-child {
	margin-top: 60px;
}

main figure img {
	max-width: 100%;
}

@media screen and (max-width: 600px) {
	main figure.full {
		position: relative;
		margin-left: -25px;
		margin-right: -25px;
		width: auto;
	}

	main figure.full img {
		width: 100%;
	}
}

main figure.right {
	float: right;
	margin-left: 25px;
}

main figure.right_mt80 {
	float: right;
	margin-left: 25px;
	margin-top:80px;
}

@media screen and (max-width: 600px) {
	main figure.right {
		float: none;
		text-align: center;
		margin-left: 0;
	}
}

main figure figcaption {
	font-size: 13px;
	line-height: 1.6;
	margin-top: 5px;
}

@media screen and (max-width: 600px) {
	main figure figcaption {
		font-size: 10px;
		margin-top: 3px;
	}
}

button,
a.btn {
	display: inline-block;
	font-size: 17px;
	line-height: 1;
	background-color: #262626;
	padding: 12px 60px 11px 45px !important;
	min-width: 312px;
	color: #fff;
	text-align: center;
	position: relative;
	text-decoration: none;
	border: none;
}


@media screen and (max-width: 900px) {
	button,
	a.btn {
		min-width: 250px;
		line-height: 33px;
		font-size: 14px;
		text-align: center;
		padding: 0 !important;
	}
}

button.back,
a.btn.home {
	padding: 12px 45px 11px 60px !important;
}

button.back {
	background-color: #7d7d7d;	
}

@media screen and (max-width: 900px) {
	button.back,
	a.btn.home {
		padding: 0 !important;
	}
}

button:after,
a.btn:after {
	content: "";
	background-image: url(../images/basic/btn_arrow_right.png);
	width: 24px;
	height: 12px;
	display: block;
	position: absolute;
	bottom: 15px;
	right: 25px;
}

button.back:after,
a.btn.home:after {
	right: auto;
	left: 25px;
	background-image: url(../images/basic/btn_arrow_left.png);
}

@media screen and (max-width: 900px) {
	button:after,
	a.btn:after {
		background-size: cover;
		width: 18px;
		height: 9px;
		right: 10px;
		bottom: 11px;
	}

	button.back:after,
	a.btn.back:after {
		right: auto;
		left: 10px;
	}
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.col {
	float: left;
}

/*

*/

nav.jump {
	text-align: right;
	margin-top: 45px;
	margin-bottom: -90px;
}

@media screen and (max-width: 1200px) {
	nav.jump {
		margin-top: -10px;
		margin-bottom: -20px;
	}
}

@media screen and (max-width: 900px) {
	nav.jump {
		margin-top: -10px;
		margin-bottom: -20px;
		font-size: 10px;
	}
}

nav.jump ul {
	display: inline-block;
	margin-right: -10px;
}

nav.jump ul li {
	float: left;
	padding: 0 10px;
	position: relative;
}

@media screen and (max-width: 900px) {
	nav.jump ul li {
		padding: 0 10px 0 0;
	}
}

nav.jump ul li:before {
	position: absolute;
	content: "";
	top: 50%;
	left: 0;
	margin-top: -7px;
	display: block;
	height: 15px;
	width: 1px;
	background-color: #555555;
}

@media screen and (max-width: 900px) {
	nav.jump ul li:before {
		display: none;
	}
}

nav.jump ul li:first-child:before {
	display: none;
}

nav.jump ul li a {
	display: inline-block;
	text-decoration: none;
	padding: 0 7px;
	position: relative;
}

@media screen and (max-width: 900px) {
	nav.jump ul li a {
		padding: 0 3px;
	}
}

nav.jump ul li a:before {
	content: "";
	height: 10px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	background-color: #dfe1e6;
}

@media screen and (max-width: 900px) {
	nav.jump ul li a:before {
		height: 7px;
	}
}


nav.jump ul li a span {
	position: relative;
}

nav.jump ul li a span:after {
	content: "";
	display: inline-block;
	background-image: url(../images/basic/jump_arrow.png);
	background-size: cover;
	width: 14px;
	height: 13px;
	margin-left: 8px;
}

@media screen and (max-width: 900px) {
	nav.jump ul li a span:after {
		width: 10.5px;
		height: 9.5px;
		margin-left: 5px;
	}
}

/*

*/

nav.pagetop {
	text-align: right;
	margin-top: 45px;
	margin-bottom: -80px;
}

@media screen and (max-width: 1200px) {
	nav.pagetop {
		margin-top: 0;
		margin-bottom: -20px;
	}
}

@media screen and (max-width: 900px) {
	nav.pagetop {
		margin-top: 0;
		margin-bottom: -20px;
		font-size: 10px;
	}
}

nav.pagetop p {
	display: inline-block;
	margin-bottom: 0;
}


nav.pagetop p a {
	display: inline-block;
	text-decoration: none;
	padding: 0 7px;
	position: relative;
}

@media screen and (max-width: 900px) {
	nav.pagetop p a {
		padding: 0 3px;
	}
}

nav.pagetop p a:before {
	content: "";
	height: 10px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	background-color: #dfe1e6;
}

@media screen and (max-width: 900px) {
	nav.pagetop p a:before {
		height: 7px;
	}
}

nav.pagetop p a span {
	position: relative;
}

nav.pagetop p a span:after {
	content: "";
	display: inline-block;
	background-image: url(../images/basic/pagetop_arrow.png);
	background-size: cover;
	width: 14px;
	height: 13px;
	margin-left: 8px;
}


@media screen and (max-width: 900px) {
	nav.pagetop p a span:after {
		width: 10.5px;
		height: 9.5px;
		margin-left: 5px;
	}
}