
/*

*/

#visual {
	background-image: url(../images/recruit/visual.jpg);
}

/*

*/

.sidefull {
	position: relative;
	z-index: 1;
}


/*

*/

body.recruit nav.jump {
	margin-top: -58px;
	margin-bottom: 0px;
}

@media screen and (max-width: 900px) {
	body.recruit nav.jump {
		margin-top: -5px;
	}
}

body.recruit main section {
	font-size: 16px;
	line-height: 1.7;
}

@media screen and (max-width: 900px) {
	body.recruit main section {
		font-size: 12px;
	}
}

body.recruit main section {
	padding-left: 30px;
	padding-right: 0px;
}

@media screen and (max-width: 900px) {
	body.recruit main section {
		padding-left: 0;
	}
}

body.recruit main section header {
	background-color: #3fa0ce;
	color: #fff;
	margin-left: 0;
	border-left: none;
	padding: 33px 24px 27px;
	margin-bottom: 27.2px;
}

@media screen and (max-width: 900px) {
	body.recruit main section header {
		margin-left: -25px;
		margin-right: -25px;
		padding: 0;
		text-align: center;
	}
}

body.recruit main section header h2 {
	font-size: 22px;
	line-height: 27px;
	display: inline-block;
	padding-bottom: 0;
}

@media screen and (max-width: 900px) {
	body.recruit main section header h2 {
		font-size: 15px;
		line-height: 44px;
	}
}

body.recruit main section header p {
	font-size: 22px;
	line-height: 27px;
	display: inline-block;
	padding-bottom: 0;
	margin-left: 15px;
	font-family: "Prata",serif;
}

@media screen and (max-width: 900px) {
	body.recruit main section header p {
		font-size: 15px;
		line-height: 44px;
	}
}

body.recruit nav.recruit ul {
	margin: 0 -19px;
	overflow: hidden;
}

@media screen and (max-width: 900px) {
	body.recruit nav.recruit ul {
		margin: 0 -3px;
	}
}

body.recruit nav.recruit li {
	padding: 0 19px;
	margin-top: 25px;
	float: left;
}

@media screen and (max-width: 900px) {
	body.recruit nav.recruit li {
		padding: 0 3px;
		margin-top: 10px;
	}
}

body.recruit nav.recruit li a {
	display: block;
	font-size: 20px;
	text-align: center;
	position: relative;
	text-decoration: none;
}

@media screen and (max-width: 900px) {
	body.recruit nav.recruit li a {
		font-size: 12px;
	}
}

body.recruit nav.recruit li a:after {
	content: "";
	display: block;
	position: absolute;
	right: 16px;
	top: 50%;
	width: 24px;
	height: 13px;
	margin-top: -6px;
	background-size: cover;
}

@media screen and (max-width: 900px) {
	body.recruit nav.recruit li a:after {
		width: 16px;
		height: 8px;
		right: 10px;
		margin-top: -4px;
	}
}


body.recruit nav.recruit li:first-child {
	width: 50%;
}

body.recruit nav.recruit li:first-child a {
	background-color: #1c2a54;
	line-height: 65px;
	color: #fff;
}

@media screen and (max-width: 900px) {
	body.recruit nav.recruit li:first-child a {
		line-height: 45px;
	}
}

body.recruit nav.recruit li:first-child a:after {
	background-image: url(../images/recruit/recruit_link_arrow.png);
}

body.recruit nav.recruit li:first-child + li {
	width: 50%;
}

body.recruit nav.recruit li:first-child + li a {
	background-color: #add6f5;
	line-height: 65px;
	color: #1d2754;
}

@media screen and (max-width: 900px) {
	body.recruit nav.recruit li:first-child + li a {
		line-height: 45px;
	}
}

body.recruit nav.recruit li:first-child + li a:after {
	background-image: url(../images/recruit/recruit_link_arrow_color.png);
}

body.recruit nav.recruit li:first-child + li + li {
	width: 100%;
}

body.recruit nav.recruit li:first-child + li + li a {
	border: 4px solid #212c58;
	line-height: 57px;
	color: #1d2754;
}

@media screen and (max-width: 900px) {
	body.recruit nav.recruit li:first-child + li + li a {
		border-width: 2px;
		line-height: 41px;
	}
}

body.recruit nav.recruit li:first-child + li + li a:after {
	background-image: url(../images/recruit/recruit_link_arrow_color.png);
	right: 12px;
}


body.recruit #intro {
	padding-left: 0;
	padding-right: 0;
	position: relative;
	z-index: 1;
	margin-top: 60px;
	padding-top: 0;
}

@media screen and (max-width: 900px) {
	body.recruit #intro {
		margin-left: -25px;
		margin-top: 30px;
	}
}

body.recruit #intro figure {
	margin-top: 0;	
}

body.recruit #intro figure img {
}

body.recruit #member ul.member {
	margin-top: 40px;
}

@media screen and (max-width: 900px) {
	body.recruit #member ul.member {
		margin: 20px -25px 0;
	}
}

body.recruit #member ul.member li {
	margin-top: 20px;
}

body.recruit #member ul.member li a {
	display: block;
	text-decoration: none;
	background-color: #e2f1ff;
	height: 180px;
	position: relative;
	padding-top: 30px;
	padding-left: 436px;
}

@media screen and (max-width: 900px) {
	body.recruit #member ul.member li a {
		padding-left: 0;
		padding-top: 0;
		overflow: hidden;
		height: auto;
	}
}

body.recruit #member ul.member li figure {
	position: absolute;
	top: 0;
	left: 0;
}

@media screen and (max-width: 900px) {
	body.recruit #member ul.member li figure {
		float: left;
		position: relative;
		width: 50%;
		margin-right: 15px;
		margin-bottom: 0;
	}

	body.recruit #member ul.member li figure img {
		width: 100%;
	}
}

body.recruit #member ul.member li p {
	margin-bottom: 0;
}

body.recruit #member ul.member li p.dept {
	font-size: 16px;
	font-weight: bold;
	color: #1e2c52;
	padding-top: 5px;
}

@media screen and (max-width: 900px) {
	body.recruit #member ul.member li p.dept {
		font-size: 11px;
	}
}

body.recruit #member ul.member li p.name {
	font-size: 24px;
	font-weight: bold;
	display: inline-block;
	color: #1e2c52;
}

@media screen and (max-width: 900px) {
	body.recruit #member ul.member li p.name {
		font-size: 17px;
		line-height: 1;
		padding-top: 3px;
	}
}

body.recruit #member ul.member li p.romaji {
	font-size: 16px;
	display: inline-block;
	margin-left: 10px;
}

@media screen and (max-width: 900px) {
	body.recruit #member ul.member li p.romaji {
		font-size: 11px;
		line-height: 1;
		padding-top: 5px;
		display: block;
	}
}

body.recruit #member ul.member li p.year {
	font-size: 16px;
	font-weight: bold;
	color: #1e2c52;
}

@media screen and (max-width: 900px) {
	body.recruit #member ul.member li p.year {
		font-size: 11px;
		padding-top: 12px;
	}
}

body.recruit #member ul.member li p.more {
	position: absolute;
	font-size: 13px;
	bottom: 15px;
	right: 20px;
	color: #1e2c52;
}

@media screen and (max-width: 900px) {
	body.recruit #member ul.member li p.more {
		font-size: 11px;
		padding-bottom: 10px;
		right: 7px;
		bottom: 8px;
	}
}

body.recruit #member ul.member li p.more:after {
	content: "";
	display: inline-block;
	background-image: url(../images/recruit/member_more_arrow.png);
	width: 20px;
	height: 10px;
	margin-left: 10px;
}

@media screen and (max-width: 900px) {
	body.recruit #member ul.member li p.more:after {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 18px;
		height: 9px;
		background-size: cover;
	}
}

body.recruit .member-dialog {
	position: relative;
	padding: 60px 20px;
}



@media screen and (max-width: 900px) {
	.mfp-container {
		padding: 0;
	}	
	
	body.recruit .member-dialog {
		padding: 40px 0;
	}
}

body.recruit .member-dialog figure{
	margin: 0 auto;
	max-width: 1350px;
}

@media screen and (max-width: 900px) {
	body.recruit .member-dialog figure img {
		width: 100%;
	}
}


body.recruit .member-dialog .wrapper {
	width: 1000px;
	margin: 0 auto;
	margin-top: -330px;
	background-color: #fff;
	position: relative;	
	padding: 50px 85px 80px;
}

@media screen and (max-width: 900px) {
	body.recruit .member-dialog .wrapper {
		width: auto;
		margin-top: 0px;
		padding: 25px;
	}
}

body.recruit .member-dialog .wrapper p {
	display: inline-block;
}

body.recruit .member-dialog .wrapper .dept {
	font-size: 16px;
	font-weight: bold;
	color: #1d2c54;
}

@media screen and (max-width: 900px) {
	body.recruit .member-dialog .wrapper .dept {
		font-size: 12px;
		display: block;
		padding-bottom: 12px;
	}
}

body.recruit .member-dialog .wrapper .name {
	font-size: 28px;
	font-weight: bold;
	color: #1d2c54;
	margin-left: 25px;
}

@media screen and (max-width: 900px) {
	body.recruit .member-dialog .wrapper .name {
		font-size: 18px;
		float: left;
		margin-left: 0;
	}
}

body.recruit .member-dialog .wrapper .romaji {
	font-size: 16px;
	margin-left: 15px;
}

@media screen and (max-width: 900px) {
	body.recruit .member-dialog .wrapper .romaji {
		font-size: 12px;
		line-height: 18px;
		float: left;
	}
}

body.recruit .member-dialog .wrapper .year {
	font-size: 16px;
	font-weight: bold;
	color: #1d2c54;
	margin-left: 30px;
}

@media screen and (max-width: 900px) {
	body.recruit .member-dialog .wrapper .year {
		float: right;
		font-size: 12px;
		line-height: 18px;
	}
}

body.recruit .member-dialog .wrapper dl {
	margin-top: 50px;
}

@media screen and (max-width: 900px) {
	body.recruit .member-dialog .wrapper dl {
		margin-top: 40px;
	}
}

body.recruit .member-dialog .wrapper dl dt {
	font-size: 15px;
	line-height: 1.7;
	font-weight: bold;
	color: #1d2c54;
	padding-left: 35px;
	margin-top: 30px;
	position: relative;
}

@media screen and (max-width: 900px) {
	body.recruit .member-dialog .wrapper dl dt {
		font-size: 12px;
		line-height: 1.5;
		padding-left: 30px;
		padding-top: 3px;
	}
}

body.recruit .member-dialog .wrapper dl dt:before {
	content: "";
	display: block;
	position: absolute;
	top: -1px;
	left: 0;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 22px;
	height: 25px;
}

body.recruit .member-dialog .wrapper dl dt.work:before {
	background-image: url(../images/recruit/member_dialog_work.png);
}

@media screen and (max-width: 900px) {
	body.recruit .member-dialog .wrapper dl dt.work:before {
		background-size: 15px 17.5px;
	}
}

body.recruit .member-dialog .wrapper dl dt.heart:before {
	background-image: url(../images/recruit/member_dialog_heart.png);
}

@media screen and (max-width: 900px) {
	body.recruit .member-dialog .wrapper dl dt.heart:before {
		background-size: 16.5px 15px;
	}
}

body.recruit .member-dialog .wrapper dl dt.problem:before {
	background-image: url(../images/recruit/member_dialog_problem.png);
}

@media screen and (max-width: 900px) {
	body.recruit .member-dialog .wrapper dl dt.problem:before {
		background-size: 16px 16.5px;
	}
}

body.recruit .member-dialog .wrapper dl dt.office:before {
	background-image: url(../images/recruit/member_dialog_office.png);
}

@media screen and (max-width: 900px) {
	body.recruit .member-dialog .wrapper dl dt.office:before {
		background-size: 16.5px 18.5px;
	}
}

body.recruit .member-dialog .wrapper dl dt.message:before {
	background-image: url(../images/recruit/member_dialog_message.png);
}

@media screen and (max-width: 900px) {
	body.recruit .member-dialog .wrapper dl dt.message:before {
		background-size: 12px 18.5px;
	}
}


body.recruit .member-dialog .wrapper dl dd {
	font-size: 14px;
	line-height: 1.7;
	padding-left: 35px;
	margin-top: 15px;
}

@media screen and (max-width: 900px) {
	body.recruit .member-dialog .wrapper dl dd {
		font-size: 12px;
		line-height: 1.5;
		margin-top: 10px;
		padding-left: 0;
	}
}

body.recruit .member-dialog .close {
	position: absolute;
	top: 60px;
	left: 50%;
	width: 1000px;
	margin-left: -500px;
}

@media screen and (max-width: 900px) {
	body.recruit .member-dialog .close {
		top: 40px;
		left: auto;
		width: 100%;
		margin-left: 0;
	}
}

body.recruit .member-dialog .close button {
	background-image: url(../images/recruit/member_dialog_close.png);
	background-size: cover;
	width: 60px !important;
	height: 60px !important;
	margin: 0 !important;
	padding: 0 !important;
	min-width: 60px !important;
	opacity: 1 !important;
	position: absolute;
	right: 30px;
	top: -30px;
}


@media screen and (max-width: 900px) {
	body.recruit .member-dialog .close button {
		width: 40px !important;
		height: 40px !important;
		min-width: 40px !important;
		right: 20px;
		top: -20px;
	}
}

body.recruit .member-dialog .close button:after {
	display: none;
}

body.recruit #member nav.more ul {
	margin: 0 -19px;
	margin-top: 60px;
	overflow: hidden;
}

@media screen and (max-width: 900px) {
	body.recruit #member nav.more ul {
		margin-top: 22px;
	}
}

body.recruit #member nav.more ul li {
	padding: 0 19px;
	float: left;
	width: 50%;
}

@media screen and (max-width: 900px) {
	body.recruit #member nav.more ul li {
		width: 100%;
		margin-top: 8px;
	}
}

body.recruit #member nav.more ul li a {
	background-color: #1d2b53;
	display: block;
	color: #fff;
	font-size: 17px;
	line-height: 41px;
	text-align: center;
	text-decoration: none;
	position: relative;
}

@media screen and (max-width: 900px) {
	body.recruit #member nav.more ul li a {
		font-size: 12px;
		line-height: 36px;
	}
}

body.recruit #member nav.more ul li a:after {
	content: "";
	display: block;
	background-image: url(../images/recruit/more_arrow.png);
	width: 24px;
	height: 12px;
	position: absolute;
	top: 50%;
	right: 16px;
	margin-top: -6px;
	background-size: cover;
}

@media screen and (max-width: 900px) {
	body.recruit #member nav.more ul li a:after {
		width: 16px;
		height: 8px;
		right: 10px;
		margin-top: -4px;
	}
}



@media screen and (max-width: 900px) {
	body.recruit #style ul li {
		margin: 0 -25px;
		position: relative;
	}
}

body.recruit #style ul li {
	margin-top: 24px;
	position: relative;
}

body.recruit #style ul li:after {
	border-left: 8px solid #b4d7f0;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	position: absolute;
	top: 50%;
	left: 250px;
	content: "";
	display: block;
	margin-top: -8px;	
}

@media screen and (max-width: 900px) {
	body.recruit #style ul li:after {
		left: 128px;
	}
}

body.recruit #style ul li p:first-child {
	display: table-cell;
	width: 250px;
	vertical-align: middle;
	background-color: #b4d7f0;
	text-align: center;
	font-size: 16px;
	line-height: 17px;
	color: #1e2c52;
	font-weight: bold;
}

@media screen and (max-width: 900px) {
	body.recruit #style ul li p:first-child {
		width: 128px;
		font-size: 12px;
		line-height: 17px;
		padding: 0 15px;
	}
}

body.recruit #style ul li p:first-child span {
	font-size: 14px;
}

body.recruit #style ul li p:first-child + p {
	display: table-cell;
	vertical-align: middle;
	font-size: 14px;
	line-height: 21px;
	background-color: #e2f1ff;
	padding: 10px 30px;
}

@media screen and (max-width: 900px) {
	body.recruit #style ul li p:first-child + p {
		font-size: 12px;
		line-height: 16px;
		padding: 10px 15px 10px 20px;
	}
}

body.recruit #style ul li p:first-child + p a {
	display: inline-block;
	background-color: #ffffff;
	line-height: 23px;
	padding: 0 40px 0 27px;
	position: relative;
	margin-top: 5px;
	text-decoration: none;
	color: #1e2c52;
}

@media screen and (max-width: 900px) {
	body.recruit #style ul li p:first-child + p a {
		padding: 0 25px 0 15px;
	}
}


body.recruit #style ul li p:first-child + p a:after {
	content: "";
	background-image: url(../images/recruit/style_more_arrow.png);
	width: 20px;
	height: 10px;
	position: absolute;
	right: 9px;
	top: 50%;
	margin-top: -5px;
	background-size: cover;
}

@media screen and (max-width: 900px) {
	body.recruit #style ul li p:first-child + p a:after {
		width: 10px;
		height: 5px;
		margin-top: -3px;
		right: 5px;
	}
}

body.recruit #information {
}

body.recruit #information > figure {
	text-align: center;
}

body.recruit #information-enquete {
	background-color: #e2f1ff;
	padding: 30px 26px;
	margin-top: 40px;
	position: relative;
}

@media screen and (max-width: 900px) {
	body.recruit #information-enquete {
		margin: 20px -25px 0;
		overflow: hidden;
	}
}

body.recruit #information-enquete h3 {
	margin: 0;
	padding: 0;
	margin-bottom: 25px;
	line-height: 65px;
	position: relative;
	color: #1d2c54;
}

@media screen and (max-width: 900px) {
	body.recruit #information-enquete h3 {
		line-height: 42px;
		text-align: center;
	}
}

body.recruit #information-enquete h3:before {
	content: "";
	background-image: url(../images/recruit/information_enquete_title.png);
	width: 65px;
	height: 65px;
	position: relative;
	display: inline-block;
	top: 0;
	left: 0;
	margin-right: 15px;
	vertical-align: middle;
	background-size: cover;
}

@media screen and (max-width: 900px) {
	body.recruit #information-enquete h3:before {
		width: 42px;
		height: 42px;
	}
}

body.recruit #information-enquete > ul {
	margin: -20px -10px 0;
	overflow: hidden;
}

body.recruit #information-enquete > ul > li {
	float: left; 
	width: 50%;
	padding: 0 10px;
	margin-top: 20px;
}

@media screen and (max-width: 900px) {
	body.recruit #information-enquete > ul > li {
		float: none;
		width: auto;
	}
}

body.recruit #information-enquete > ul > li section {
	background-color: #fff;
	padding: 5px 30px 30px;
}

body.recruit #information-enquete > ul > li section h4 {
	font-size: 16px;
	padding: 0;
	color: #1e2c52;
	text-align: center;
	position: relative;
	z-index: 1;
	border-bottom: none !important;
	width: 250px;
	line-height: 60px;
	margin: 0 auto;
	display: block;
}

@media screen and (max-width: 900px) {
	body.recruit #information-enquete > ul > li section h4 {
		font-size: 12px;
		line-height: 44px;
		width: 175px;
		text-align: center;
	}
}

body.recruit #information-enquete > ul > li section h4:before {
	content: "";
	width: 100%;
	border-radius: 6px;
	height: 13px;
	background-color: #ecf5fb;
	position: absolute;
	z-index: -1;
	top: 30px;
	left: 0;	
}

@media screen and (max-width: 900px) {
	body.recruit #information-enquete > ul > li section h4:before {
		height: 8px;
		border-radius: 4px;
		top: 25px;
		left: 50%;
		transform: translateX(-50%);
	}
}

body.recruit #information-enquete > ul > li section ul li {
	font-size: 14px;
	line-height: 24.5px;
	margin-top: 1px;
	position: relative;
	padding-left: 1em;
}

@media screen and (max-width: 900px) {
	body.recruit #information-enquete > ul > li section ul li {
		font-size: 12px;
		line-height: 21px;
	}
}

body.recruit #information-enquete > ul > li section ul li:before {
	content: "・";
	position: absolute;
	top: 0;
	left: 0;	
}


body.recruit #information-enquete-01,
body.recruit #information-enquete-02 {
	height: 323px;
}

@media screen and (max-width: 900px) {
	body.recruit #information-enquete-01,
	body.recruit #information-enquete-02 {
		height: auto;
	}
}

body.recruit #information-enquete figure { 
	position: absolute;
	top: 302px;
	left: 296px;
}

@media screen and (max-width: 900px) {
	body.recruit #information-enquete figure { 
		position: relative;
		top: auto;
		left: auto;
		width: 38.6%;
		float: left;
		margin-top: 8px;
	}
}

body.recruit #information-enquete-voice {
	background-color: #afd6f3;
	border: 4px solid #fff;
	padding: 0 36px 20px;
	position: absolute;
	bottom: 39px;
	right: 36px;
	width: 306px;
	border-radius: 15px;
}

@media screen and (max-width: 900px) {
	body.recruit #information-enquete-voice {
		position: relative;
		right: auto;
		bottom: auto;
		width: 61.4%;
		float: right;
		padding: 0 10px 10px;
		margin-top: 20px;
		border-width: 2px;
		border-radius: 7px;
	}
}

body.recruit #information-enquete-voice:before {
	content: "";
	background-image: url(../images/recruit/information_enquete_balloon.png);
	width: 26px;
	height: 34px;
	top: -22px;
	left: -18px;
	display: block;
	position: absolute;
}

@media screen and (max-width: 900px) {
	body.recruit #information-enquete-voice:before {
		width: 13px;
		height: 17px;
		background-size: cover;
		top: -11px;
		left: -9px;
	}
}

body.recruit #information-enquete-voice h4 {
	margin: 0 0 10px; !important;
	padding: 15px 0 0 0  !important;
	line-height: 40px;
	border-bottom: 3px solid #d7ebf9;
	text-align: center;
	display: block;
	color: #1e2c52;
	font-size: 16px;
}

@media screen and (max-width: 900px) {
	body.recruit #information-enquete-voice h4 {
		font-size: 12px;
		padding: 3px 0 0 0  !important;
		line-height: 24px;
		border-width: 2px;
		margin: 0 0 5px; !important;
	}
}

body.recruit #information-enquete-voice p {
	margin: 0;
	padding: 0;
	font-size: 15px;
}

@media screen and (max-width: 900px) {
	body.recruit #information-enquete-voice p {
		font-size: 12px;
	}
}

body.recruit #information-data {
	background-color: #e2f1ff;
	padding: 30px 26px;
	margin-top: 40px;
	position: relative;
	margin-top: 24px;
}

@media screen and (max-width: 900px) {
	body.recruit #information-data {
		margin: 25px -25px 0;
	}
}

body.recruit #information-data h3 {
	margin: 0;
	padding: 0;
	margin-bottom: 17px;
	line-height: 65px;
	position: relative;
	color: #1d2c54;
}

@media screen and (max-width: 900px) {
	body.recruit #information-data h3 {
		line-height: 42px;
		text-align: center;
	}
}

body.recruit #information-data h3:before {
	content: "";
	background-image: url(../images/recruit/information_data_title.png);
	width: 65px;
	height: 65px;
	position: relative;
	top: 0;
	left: 0;
	margin-right: 15px;
	background-size: cover;
	display: inline-block;
	vertical-align: middle;
}

@media screen and (max-width: 900px) {
	body.recruit #information-data h3:before {
		width: 42px;
		height: 42px;
	}
}
body.recruit #information-data ul {
	height: 603px;
	width: 709px;
	position: relative;
}

@media screen and (max-width: 900px) {
	body.recruit #information-data ul {
		width: auto;
		height: auto;
	}
}

@media screen and (max-width: 900px) {
	body.recruit #information-data ul li img {
		width: 100%;
	}
}

@media screen and (max-width: 900px) {
	body.recruit #information-data ul li:first-child {
		position: relative;
		width: 66.15%;
		margin-left: -4.6%;
	}
}

body.recruit #information-data ul li:first-child + li {
	position: absolute;
	top: 7px;
	right: 5px;
}

@media screen and (max-width: 900px) {
	body.recruit #information-data ul li:first-child + li {
		top: auto;
		right: auto;
		position: relative;
		width: 58.5%;
		margin-left: 48%;
		margin-top: -20%;
	}
}




body.recruit #information-data ul li:first-child + li + li {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

@media screen and (max-width: 900px) {
	body.recruit #information-data ul li:first-child + li + li {
		position: relative;
		width: 71.84%;
		clear: both;
		margin-top: -15%;
		margin-left: -4.6%;
	}
}


body.recruit #information-data figure {
	position: absolute;
	top: 240px;
	left: 300px;
}

@media screen and (max-width: 900px) {
	body.recruit #information-data figure {
		position: relative;
		top: auto;
		left: auto;
		width: 30.8%;
		margin-left: 69.3%;
		margin-top: -28%;
	}
}

body.recruit #information-data-voice {
	background-color: #afd6f3;
	border: 4px solid #fff;
	padding: 0 36px 20px;
	position: absolute;
	bottom: 115px;
	left: 42px;
	width: 336px;
	border-radius: 14px;
}

@media screen and (max-width: 900px) {
	body.recruit #information-data-voice {
		position: relative;
		top: 0;
		bottom: auto;
		left: auto;
		padding: 0 10px 10px;
		width: auto;
		margin: 0 25px;
		margin-top: 20px;
		border-width: 2px;
		border-radius: 7px;
	}
}

body.recruit #information-data-voice:before {
	content: "";
	background-image: url(../images/recruit/information_data_balloon.png);
	width: 24px;
	height: 36px;
	top: -22px;
	right: -17px;
	display: block;
	position: absolute;
}

@media screen and (max-width: 900px) {
	body.recruit #information-data-voice:before {
		background-size: cover;
		width: 12px;
		height: 18px;
		right: -9px;
		top: -11px;
	}
}


body.recruit #information-data-voice h4 {
	margin: 0 0 10px; !important;
	padding: 15px 0 00  !important;
	line-height: 40px;
	border-bottom: 3px solid #d7ebf9;
	text-align: center;
	display: block;
	color: #1e2c52;
	font-size: 16px;
}

@media screen and (max-width: 900px) {
	body.recruit #information-data-voice h4 {
		font-size: 12px;
		padding: 3px 0 0 0  !important;
		line-height: 24px;
		border-width: 2px;
		margin: 0 0 5px; !important;
	}
}

body.recruit #information-data-voice p {
	margin: 0;
	padding: 0;
	font-size: 15px;
}


@media screen and (max-width: 900px) {
	body.recruit #information-data-voice p {
		font-size: 12px;
	}
}

body.recruit #information-fukuinfo {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 60px;
}

@media screen and (max-width: 900px) {
	body.recruit #information-fukuinfo {
		margin-bottom: 30px;
	}
}

body.recruit #information-fukuinfo p {
	margin-bottom: 20px;
}

@media screen and (max-width: 900px) {
	body.recruit #information-fukuinfo p {
		text-align: left;
	}
}


body.recruit #information-fukuinfo p.more {
	padding: 0 19px;
	margin: 0 auto;
	width: 50%;
}

@media screen and (max-width: 900px) {
	body.recruit #information-fukuinfo p.more {
		width: 100%;
		padding: 0;
	}
}

body.recruit #information-fukuinfo p.more a {
	background-color: #1d2b53;
	display: block;
	color: #fff;
	font-size: 17px;
	line-height: 41px;
	text-align: center;
	text-decoration: none;
	position: relative;
}

@media screen and (max-width: 900px) {
	body.recruit #information-fukuinfo p.more a {
		font-size: 12px;
		line-height: 36px;
	}
}


body.recruit #information-fukuinfo p.more a:after {
	content: "";
	display: block;
	background-image: url(../images/recruit/more_arrow.png);
	width: 24px;
	height: 12px;
	position: absolute;
	top: 50%;
	right: 16px;
	margin-top: -6px;
	background-size: cover;
}


@media screen and (max-width: 900px) {
	body.recruit #information-fukuinfo p.more a:after {
		width: 16px;
		height: 8px;
		right: 10px;
		margin-top: -4px;
	}
}

/*

*/

body.recruit-detail dl {
	margin-top: -15px;
	margin-bottom: 25px;
}

body.recruit-detail dl dt {
	border: none;
	display: block;
	margin: 0;
	padding: 0;
	line-height: 1;
	font-weight: normal;
	float: left;
	font-weight: bold;
	padding: 25px 0;
	font-size: 15px;
	line-height: 1.7;
}

@media screen and (max-width: 900px) {
	body.recruit-detail dl dt {
		font-size: 12px;
		padding: 12px 0;
	}
}

body.recruit-detail dl dd {
	padding: 25px 0;
	padding-left: 150px;
	border-bottom: 1px solid #000;
	font-size: 15px;
	line-height: 1.7;
}

@media screen and (max-width: 900px) {
	body.recruit-detail dl dd {
		font-size: 12px;
		padding: 12px 0;
		padding-left: 100px;
	}
}

body.recruit-detail dl dd p:last-child {
	margin-bottom: 0;
}

body.recruit-detail .action {
	text-align: center;
	margin-top: 45px;
}