

/*

*/

#visual {
	background-image: url(../images/service/visual.jpg);
}

/*

*/

#promotion p.more {
	text-align: center;		
}


.service figure img{
    margin-right: 25px;
}

.service-web #strength-promotion ul {
	overflow: hidden;
	margin: 0 -20px;
}

.service-web #strength-promotion ul li {
	width: 33.333333%;
	float: left;
	padding: 0 20px;
}

@media screen and (max-width: 900px) {
	.service-web #strength-promotion ul li {
		width: auto;
	}
}

.service-web #strength-promotion ul li p:first-child {
	font-weight: bold;
	margin-bottom: 10px;
}

.service-web #partner .e-bird {
	text-decoration: none;
	font-weight: bold;
	margin-right: 20px;
}

@media screen and (max-width: 900px) {
	.service-web #partner .e-bird {
		display: block;
	}
}


.service-web #partner ul {
	overflow: hidden;
	margin: 0 -20px;
}

.service-theater #partner ul {
    overflow: hidden;
    margin: 0 -20px;
}

.service-web #partner ul li {
	width: 50%;
	float: left;
	padding: 0 20px;
}
.service-theater #partner ul li {
    width: 50%;
    float: left;
    padding: 0 20px;
}



@media screen and (max-width: 900px) {
	.service-web #partner ul li {
		width: auto;
	}
}



.partner-dialog {
	position: relative;
	padding: 60px 20px;
}



@media screen and (max-width: 900px) {
	.mfp-container {
		padding: 0;
	}	
	
	.partner-dialog {
		padding: 40px 0;
	}
}

.partner-dialog .wrapper {
	width: 1000px;
	margin: 0 auto;
	background-color: #fff;
	position: relative;	
	padding: 50px 85px 50px;
}

@media screen and (max-width: 900px) {
	.partner-dialog .wrapper {
		width: auto;
		margin-top: 0px;
		padding: 25px;
	}
}

.partner-dialog .wrapper p {
	display: inline-block;
	line-height: 2;
}

.partner-dialog .close {
	position: absolute;
	top: 60px;
	left: 50%;
	width: 1000px;
	margin-left: -500px;
}

@media screen and (max-width: 900px) {
	.partner-dialog .close {
		top: 40px;
		left: auto;
		width: 100%;
		margin-left: 0;
	}
}

.partner-dialog .close button {
	background-image: url(../images/recruit/member_dialog_close.png);
	background-size: cover;
	width: 60px !important;
	height: 60px !important;
	margin: 0 !important;
	padding: 0 !important;
	min-width: 60px !important;
	opacity: 1 !important;
	position: absolute;
	right: 30px;
	top: -30px;
}


@media screen and (max-width: 900px) {
	.partner-dialog .close button {
		width: 40px !important;
		height: 40px !important;
		min-width: 40px !important;
		right: 20px;
		top: -20px;
	}
}

.partner-dialog .close button:after {
	display: none;
}