
@media screen and (max-width: 900px) {
	#wrapper {
		padding-top: 10px;
	}
}

/*

*/

main nav.category {
	margin-left: -37px;
}

@media screen and (max-width: 900px) {
	main nav.category {
		margin: 0 -25px;
	}
}

main nav.category ul {
	overflow: hidden;
	margin-left: -3px;
}

@media screen and (max-width: 900px) {
	main nav.category ul {
		margin: 0 -1px;
	}
}

main nav.category ul li {
	float: left;
	margin-left: 3px;
	margin-bottom: 3px;
}

@media screen and (max-width: 900px) {
	main nav.category ul li {
		width: 50%;
		margin: 0;
		padding: 0 1px;
		margin-top: 2px;
	}
	
	main nav.category ul li:first-child {
		width: 100%;
	}
}

main nav.category ul li a {
	display: block;
	height: 38px;
	padding: 0 45px 0 30px;
	background-color: #dfe1e6;	
	text-decoration: none;
	position: relative;
}

@media screen and (max-width: 900px) {
	main nav.category ul li a {
		font-size: 12px;
	}
}

main nav.category ul li a span {
	display: table-cell;
	height: 38px;
	vertical-align: middle;
	line-height: 1.2;
}


main nav.category ul li.is-active a {
	background-color: #343250;
	color: #fff;
}

main nav.category ul li a:after {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	right: 8px;
	background-image: url(../images/works/category_arrow.png);
	width: 11px;
	height: 6px;
	margin-top: -3px;
}

main nav.category ul li.is-active a:after {
	background-image: url(../images/works/category_arrow_active.png);
}


/*

*/

main article {
	margin-top: 60px;
}

@media screen and (max-width: 900px) {
	main article {
		margin-top: 30px;
	}
}

main article header {
	position: relative;
	border-bottom: 15px solid #dfe1e6;
	padding-bottom: 20px;
	margin-bottom: 47px;
}

@media screen and (max-width: 900px) {
	main article header {
		border-width: 10px;
		margin-bottom: 30px;
	}
}

main article header p {
	margin: 0;
}

main article header .date {
	font-size: 22px;
	line-height: 24px;
	float: left;
	padding-bottom: 40px;
}

@media screen and (max-width: 900px) {
	main article header .date {
		font-size: 16px;
		line-height: 20px;
		padding-bottom: 20px;
	}
}

main article header .category {
	font-size: 16px;
	background-color: #000000;
	line-height: 24px;
	padding: 0 12px;
	float: right;
	color: #fff;
}

@media screen and (max-width: 900px) {
	main article header .category {
		font-size: 12px;
		line-height: 20px;
		padding: 0 8px;
	}
}


main article header .subtitle {
	clear: both;
	font-size: 20px;
	padding-left: 28px;
	border-left: 1px solid #000;
}

main article header .title {
	clear: both;
	font-size: 28px;
	padding-left: 28px;
	border-left: 1px solid #000;
}

@media screen and (max-width: 900px) {
	main article header .title {
		font-size: 19px;
		padding-left: 23px;
	}
}

main .content {
	margin-left: 35px;
}

@media screen and (max-width: 900px) {
	main .content {
		margin-left: 0px;
	}
}

main .content h2 {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 25.5px;
}

@media screen and (max-width: 900px) {
	main .content h2 {
		font-size: 14px;
		margin-bottom: 15px;
	}
}

main .content h3 {
	font-size: 20px;
	padding: 0 14px;
	margin-bottom: 25.5px;
	background-color: #dfe1e6;
}


@media screen and (max-width: 900px) {
	main .content h3 {
		font-size: 14px;
		padding: 0 5px;
		margin-bottom: 15px;
	}
}

@media screen and (max-width: 900px) {
	main .content img {
		max-width: 100%;
	}
}

/*

*/

main .pager {
	margin-top: 70px;
}

main .pager ul {
	margin: 0 -20px;
	overflow: hidden;
}

@media screen and (max-width: 900px) {
	main .pager ul {
		margin: 0;
	}
}

main .pager ul li {
	padding: 0 20px;
	width: 50%;
	float: left; 
	line-height: 1.5;
}

@media screen and (max-width: 900px) {
	main .pager ul li {
		font-size: 13px;
		padding: 0;
	}
}

main .pager ul li a {
	text-decoration: none;
}

main .pager ul li.next {
	text-align: right;
}

main .pager ul li.prev a {
	padding: 6px 20px 6px 45px;
	position: relative;
	display: inline-block;
}

@media screen and (max-width: 900px) {
	main .pager ul li.prev a {
		padding: 4px 10px 4px 40px;
	}
}

main .pager ul li.prev a:before {
	content: "";
	background-image: url(../images/works/detail/pager_prev_arrow.png);
	background-size: cover;
	width: 32px;
	height: 32px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

@media screen and (max-width: 900px) {
	main .pager ul li.prev a:before {
		width: 26px;
		height: 26px;
	}
}

main .pager ul li.next a {
	padding: 6px 45px 6px 20px;
	position: relative;
	display: inline-block;
}

@media screen and (max-width: 900px) {
	main .pager ul li.next a {
		padding: 4px 40px 4px 10px;
	}
}

main .pager ul li.next a:before {
	content: "";
	background-image: url(../images/works/detail/pager_next_arrow.png);
	background-size: cover;
	width: 32px;
	height: 32px;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
}

@media screen and (max-width: 900px) {
	main .pager ul li.next a:before {
		width: 26px;
		height: 26px;
	}
}

