
/*

*/

#visual {
	background-image: url(../images/sitemap/visual.jpg);
	color: #fff;
}

/*

*/

main .col {
	width: 50%;
}

@media screen and (max-width: 600px) {
	main .col {
		width: 100%;
	}
}

main ul {
	font-size: 24px;
	font-weight: bold;
}

@media screen and (max-width: 900px) {
	main ul {
		font-size: 17px;
		font-weight: bold;
	}
}

main ul li {
	margin-bottom: 16px;
}

@media screen and (max-width: 900px) {
	main ul li {
		margin-bottom: 8px;
	}
}

main ul li ul {
	font-size: 16px;
	padding-left: 40px;
	font-weight: normal;
	margin-bottom: 25px;
}

@media screen and (max-width: 900px) {
	main ul li ul {
		font-size: 12px;
		padding-left: 20px;
		margin-bottom: 12px;
	}
}

main ul li ul li {
	margin-top: 10px;
	margin-bottom: 10px;
	list-style: disc;
}

@media screen and (max-width: 900px) {
	main ul li ul li {
		margin-top: 5px;
		margin-bottom: 5px;
	}
}

main ul li a {
	text-decoration: none;
}

main ul li a:hover {
	text-decoration: underline;
}


