
/*

*/

#visual {
	background-image: url(../images/works/visual.jpg);
	color: #fff;
}

/*

*/

/*

body.works-detail main article {
	margin-top: 60px;
}

body.works-detail main article header {
	position: relative;
	border-bottom: 15px solid #dfe1e6;
	padding-bottom: 20px;
	margin-bottom: 47px;
}

body.works-detail main article header p {
	margin: 0;
}

body.works-detail main article header .date {
	font-size: 22px;
	line-height: 24px;
	float: left;
	padding-bottom: 40px;
}

body.works-detail main article header .category {
	font-size: 16px;
	background-color: #000000;
	line-height: 24px;
	padding: 0 12px;
	float: right;
	color: #fff;
}

body.works-detail main article header .title {
	clear: both;
	font-size: 20px;
	padding-left: 28px;
	border-left: 1px solid #000;
}

body.works-detail main article header .title + p {
	font-size: 28px;
	padding-left: 28px;
	border-left: 1px solid #000;
}

body.works-detail main .content {
	margin-left: 35px;
}

body.works-detail main .pager {
	margin-top: 70px;
}

body.works-detail main .pager ul {
	margin: 0 -20px;
	overflow: hidden;
}

body.works-detail main .pager ul li {
	padding: 0 20px;
	width: 50%;
	float: left; 
	line-height: 36px;
}

body.works-detail main .pager ul li a {
	text-decoration: none;
}

body.works-detail main .pager ul li.next {
	text-align: right;
}

body.works-detail main .pager ul li.prev a {
	padding-left: 45px;
	line-height: 36px;
	position: relative;
	display: inline-block;
}

body.works-detail main .pager ul li.prev a:before {
	content: "";
	background-image: url(../images/works/detail/pager_prev_arrow.png);
	width: 32px;
	height: 32px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

body.works-detail main .pager ul li.next a {
	padding-right: 45px;
	line-height: 36px;
	position: relative;
	display: inline-block;
}

body.works-detail main .pager ul li.next a:before {
	content: "";
	background-image: url(../images/works/detail/pager_next_arrow.png);
	width: 32px;
	height: 32px;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
}


*/