
body{
	margin: 0;
	padding: 0;
	background-color:#fff;
	color:#666;
	font-size: 100%;
	font-family: Osaka,sans-serif}
h1   {
	font-size:18px}
h2   {
	font-size:14px}
h3   {
	font-size:12px}
h4   {
	font-size:10px}
form {
	margin:0;
	padding:0;
}


.textl {
	font-size: 90%;
	line-height: 1.35em}
.text {
	font-size: 75%;
	line-height: 1.35em}
.texts {
	font-size: 65%;
	line-height: 1.5em;}
.textss {
	font-size: 50%;
	line-height:1.3em;}

.toptexts {
	font-size: 65%;
	line-height: 1.5em;}

.toptextss {
	font-size: 50%;
	line-height: 1.3em;}

.red {
	font-size: 75%;
	color: #900;
	line-height: 1.35em}
.reds {
	font-size: 65%;
	color: #900;
	line-height: 1.5em;}
.redss {
	font-size: 50%;
	color: #900;
	line-height:1.3em;}

.white {
	font-size: 75%;
	color: #fff;
	line-height: 1.35em}
.whites {
	font-size: 65%;
	color: #fff;
	line-height: 1.5em;}
.whitess {
	font-size: 50%;
	color: #fff;
	line-height:1.3em;}


a:link {
	color: #666;}
a:visited {
	color: #666;}
a:hover {
	color: #900;}
a:active {
	color: #900;}

a:link.snavi {
	font-size:75%;
	color: #666;
	text-decoration: none;
	line-height: 1.6em;}
a:visited.snavi {
	font-size:75%;
	color: #666;
	text-decoration: none;
	line-height: 1.6em;}
a:hover.snavi {
	font-size:75%;
	color: #900;
	text-decoration: underline;
	line-height: 1.6em;}
a:active.snavi {
	font-size:75%;
	color: #900;
	text-decoration: underline;
	line-height: 1.6em;}

a:link.snavi2 {
	font-size:65%;
	color: #666;
	text-decoration: none;
	line-height: 1.4em;}
a:visited.snavi2 {
	font-size:65%;
	color: #666;
	text-decoration: none;
	line-height: 1.4em;}
a:hover.snavi2 {
	font-size:65%;
	color: #900;
	text-decoration: underline;
	line-height: 1.4em;}
a:active.snavi2 {
	font-size:65%;
	color: #900;
	text-decoration: underline;
	line-height: 1.4em;}

a:link.snavi3 {
	font-size:50%;
	color: #666;
	text-decoration: none;
	line-height: 2.0em;}
a:visited.snavi3 {
	font-size:50%;
	color: #666;
	text-decoration: none;
	line-height: 2.0em;}
a:hover.snavi3 {
	font-size:50%;
	color: #900;
	text-decoration: underline;
	line-height: 2.0em;}
a:active.snavi3 {
	font-size:50%;
	color: #900;
	text-decoration: underline;
	line-height: 2.0em;}

.fnavitxt {
	font-size:65%;
	color: #fff;}
a:link.fnavi {
	color: #fff;
	text-decoration: none;}
a:visited.fnavi {
	color: #fff;
	text-decoration: none;}
a:hover.fnavi {
	color: #fff;
	text-decoration: underline;}
a:active.fnavi {
	color: #fff;
	text-decoration: underline;}

.fnavitxt2 {
	font-size:65%;}
a:link.fnavi2 {
	color: #666;
	text-decoration: none;}
a:visited.fnavi2 {
	color: #666;
	text-decoration: none;}
a:hover.fnavi2 {
	color: #900;
	text-decoration: underline;}
a:active.fnavi2 {
	color: #900;
	text-decoration: underline;}
